### Victor Rene PÃ©rez Mayen.
### 19005180

### Space Apps Challenge 2019

### Planets Near and Far

#### Chasers of the Lost Data
##### https://2019.spaceappschallenge.org/challenges/planets-near-and-far/raiders-lost-data/details

In [49]:
import os
from sklearn.impute import SimpleImputer
import impyute as impy
import numpy as np, pandas as pd, tensorflow as tf, matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RandomizedSearchCV
from keras.models import Sequential
from keras.layers import Dense, BatchNormalization
from keras.optimizers import Adam
from keras.utils import to_categorical
from keras.callbacks import EarlyStopping, ModelCheckpoint
from keras.wrappers.scikit_learn import KerasClassifier
import seaborn as sns
from sklearn.preprocessing import LabelEncoder

In [2]:
df_1 = pd.read_csv("NASA/Fireball_And_Bolide_Reports.csv")
df_2 = pd.read_csv("NASA/GLC03122015.csv")
df_3 = pd.read_csv("NASA/Meteorite_Landings.csv")
df_4 = pd.read_csv("NASA/Near-Earth_Comets_-_Orbital_Elements.csv")

### Fireball And Bolide Reports

In [3]:
df_1 #Fireball_And_Bolide_Reports

,Date/Time - Peak Brightness (UT),Latitude (Deg),Longitude (Deg),Altitude (km),Velocity (km/s),Velocity Components (km/s): vx,Velocity Components (km/s): vy,Velocity Components (km/s): vz,Total Radiated Energy (J),Calculated Total Impact Energy (kt)
0,11/21/2009 08:53:00 PM,22.0S,29.2E,38.0,32.1,3.0,-17.0,-27.0,10000000000000,18.000
1,01/09/2015 10:41:11 AM,2.0N,28.8E,36.0,NaN,-10.7,-7.6,11.6,139000000000,0.410
2,05/16/2014 12:42:48 PM,44.2S,176.2W,44.0,NaN,14.4,4.6,6.5,309000000000,0.820
3,08/23/2014 06:29:41 AM,61.7S,132.6E,22.2,16.2,-2.3,5.7,16.5,3820000000000,7.600
4,12/12/2014 06:48:11 AM,33.5N,144.9E,26.3,NaN,11.5,-2.8,-2.2,33000000000,0.110
5,07/29/2014 07:38:07 AM,49.2S,172.2W,NaN,NaN,NaN,NaN,NaN,73000000000,0.230
6,06/01/2013 10:49:48 PM,65.6S,138.4E,28.9,NaN,NaN,NaN,NaN,34000000000,0.120
7,02/17/2015 01:19:50 PM,8.0S,11.2W,39.0,NaN,-28.2,3.4,4.6,33000000000,0.110
8,10/17/2014 02:07:36 PM,4.6S,66.3W,39.0,NaN,NaN,NaN,NaN,72000000000,0.230
9,12/08/2013 03:10:09 AM,32.8N,165.1W,23.5,NaN,2.3,2.5,-11.3,64000000000,0.200
10,09/05/2014 09:37:26 PM,22.7N,150.0W,NaN,NaN,NaN,NaN,NaN,35000000000,0.120
11,02/25/2015 10:53:24 AM,12.4N,122.4W,42.0,NaN,NaN,NaN,NaN,58000000000,0.190
12,11/04/2014 08:13:30 PM,43.1N,115.8E,22.2,NaN,-7.2,-12.1,-7.7,156000000000,0.450
13,07/26/2013 11:32:26 AM,21.0N,178.5W,37.0,NaN,NaN,NaN,NaN,20000000000,0.073
14,12/25/2010 11:24:00 PM,38.0N,158.0E,26.0,18.1,18.0,-2.0,-4.0,20000000000000,33.000
15,01/07/2015 01:05:59 AM,45.7N,26.9E,45.5,NaN,-35.4,1.8,-4.4,136000000000,0.400
16,01/25/2013 07:40:18 AM,60.3N,64.6W,NaN,NaN,NaN,NaN,NaN,3400000000000,6.900
17,08/28/2014 03:07:45 AM,3.2N,45.4W,NaN,NaN,NaN,NaN,NaN,34000000000,0.120
18,01/15/2014 02:46:19 AM,18.5S,141.8E,29.6,NaN,NaN,NaN,NaN,140000000000,0.410
19,12/23/2013 08:30:57 AM,39.5N,2.0E,34.3,NaN,-1.1,11.4,-9.9,147000000000,0.430
20,11/26/2014 05:40:16 PM,68.2S,24.0W,37.0,NaN,-7.0,16.1,9.4,105000000000,0.320
21,03/18/2014 11:02:37 AM,0.0N,111.8W,30.5,NaN,NaN,NaN,NaN,540000000000,1.300
22,03/03/2014 03:00:21 PM,29.0S,94.9W,NaN,NaN,NaN,NaN,NaN,94000000000,0.290
23,02/15/2013 03:20:33 AM,54.8N,61.1E,23.3,18.6,12.8,-13.3,-2.4,375000000000000,440.000
24,03/29/2014 01:45:41 PM,28.7S,121.5E,30.7,NaN,10.0,-12.7,2.2,39000000000,0.130
25,10/08/2009 02:57:00 AM,4.2S,120.6E,19.1,19.2,14.0,-16.0,-6.0,20000000000000,33.000
26,06/28/2014 02:40:07 AM,18.9N,141.2E,26.3,12.4,12.0,3.5,-10.5,245000000000,0.670
27,10/21/2014 06:55:37 PM,22.2N,132.9W,NaN,NaN,NaN,NaN,NaN,34000000000,0.120
28,10/12/2013 04:06:45 PM,19.1S,25.0W,22.2,NaN,-8.0,8.4,-5.5,1610000000000,3.500
29,11/21/2013 01:50:35 AM,44.7N,35.3E,59.3,NaN,-5.0,-11.0,-2.7,75000000000,0.230
...,...,...,...,...,...,...,...,...,...,...
62,10/14/2014 10:25:03 AM,2.0S,119.2E,27.2,NaN,15.0,-6.9,-3.5,29000000000,0.100
63,05/29/2014 01:12:36 AM,21.9N,131.1W,28.7,NaN,NaN,NaN,NaN,58000000000,0.190
64,02/07/2013 01:12:24 PM,18.8S,158.6W,NaN,NaN,NaN,NaN,NaN,65000000000,0.210
65,05/14/2013 11:20:21 PM,3.0S,76.4E,NaN,NaN,NaN,NaN,NaN,20000000000,0.073
66,10/03/2012 10:50:12 PM,41.5S,21.9W,NaN,NaN,-2.4,5.5,15.9,280000000000,0.750
67,12/30/2012 07:25:35 AM,17.3N,83.6W,NaN,NaN,NaN,NaN,NaN,198000000000,0.550
68,03/18/2015 12:04:50 AM,5.4S,159.3E,50.0,NaN,NaN,NaN,NaN,121000000000,0.360
69,10/02/2012 04:38:38 PM,8.1S,111.9W,35.0,NaN,1.4,15.3,1.0,470000000000,1.200
70,09/28/2012 05:44:12 AM,6.9S,73.7E,NaN,NaN,NaN,NaN,NaN,38000000000,0.130
71,05/25/2012 11:31:24 AM,41.8S,36.2W,NaN,NaN,NaN,NaN,NaN,60000000000,0.190
72,11/20/2012 08:37:31 PM,2.5N,29.6E,33.3,NaN,-12.2,-5.3,5.3,25000000000,0.089
73,11/20/2012 06:25:11 AM,8.0S,86.0W,NaN,NaN,NaN,NaN,NaN,120000000000,0.360
74,10/19/2012 04:26:22 PM,75.4S,49.6E,29.3,NaN,-2.3,-3.9,12.4,23000000000,0.082
75,03/30/2015 09:33:52 PM,36.1S,5.5W,33.1,NaN,-13.7,-1.7,0.8,64000000000,0.200
76,10/09/2012 12:54:55 AM,51.2N,84.6W,27.8,NaN,3.4,12.0,5.1,210000000000,0.580
77,09/10/2012 01:03:32 AM,69.8S,111.7W,23.8,NaN,-10.2,-5.2,12.4,23000000000,0.082
78,04/08/2015 04:06:31 AM,25.5S,51.5E,36.3,NaN,8.0,-15.6,-7.9,173000000000,0.490
79,08/27/2012 06:57:43 AM,18.3S,64.2E,38.7,NaN,-8.0,-23.7,-14.5,68000000000,0.220
80,08/26/2012 02:55:47 PM,11.8N,117.0E,36.0,NaN,5.0,-11.6,-0.7,249000000000,0.680
81,09/18/2012 07:34:39 PM,1.2N,52.2W,28.1,NaN,-1.9,14.1,-11.5,244000000000,0.670
82,04/03/2015 01:39:38 AM,8.4N,157.9W,NaN,NaN,NaN,NaN,NaN,42000000000,0.140
83,09/11/2012 10:07:30 PM,18.9S,105.2E,NaN,NaN,NaN,NaN,NaN,52000000000,0.170
84,04/21/2012 04:08:23 PM,15.8S,174.8W,NaN,NaN,NaN,NaN,NaN,143000000000,0.420
85,04/30/2015 10:21:01 AM,48.7S,139.1E,26.7,NaN,12.2,-4.2,0.9,105000000000,0.320
86,07/27/2012 04:19:50 AM,63.1N,172.3E,27.2,NaN,NaN,NaN,NaN,34000000000,0.120
87,05/04/2012 09:54:49 PM,76.7N,10.6W,NaN,NaN,NaN,NaN,NaN,229000000000,0.630
88,04/23/2012 10:01:10 PM,36.2N,107.4E,25.2,NaN,NaN,NaN,NaN,44000000000,0.150
89,07/25/2012 07:48:20 AM,36.4N,41.5E,26.8,NaN,0.8,2.0,-18.4,133000000000,0.390
90,04/21/2015 01:42:51 AM,37.7N,39.6W,37.4,NaN,-15.3,12.8,7.4,88000000000,0.270
91,05/15/2012 11:04:17 AM,61.8S,135.5W,33.3,NaN,-0.8,1.1,17.0,132000000000,0.390

In [4]:
#Se buscan los Null
np.sum(df_1.isnull())

Date/Time - Peak Brightness (UT)        0
Latitude (Deg)                          0
Longitude (Deg)                         0
Altitude (km)                          24
Velocity (km/s)                        85
Velocity Components (km/s): vx         40
Velocity Components (km/s): vy         40
Velocity Components (km/s): vz         40
Total Radiated Energy (J)               0
Calculated Total Impact Energy (kt)     0
dtype: int64

In [5]:
print(df_1["Altitude (km)"].head(5),df_1["Velocity (km/s)"].head(5),df_1["Velocity Components (km/s): vx"].head(5),
      df_1["Velocity Components (km/s): vy"].head(5),df_1["Velocity Components (km/s): vz"].head(5))

0    38.0
1    36.0
2    44.0
3    22.2
4    26.3
Name: Altitude (km), dtype: float64 0    32.1
1     NaN
2     NaN
3    16.2
4     NaN
Name: Velocity (km/s), dtype: float64 0     3.0
1   -10.7
2    14.4
3    -2.3
4    11.5
Name: Velocity Components (km/s): vx, dtype: float64 0   -17.0
1    -7.6
2     4.6
3     5.7
4    -2.8
Name: Velocity Components (km/s): vy, dtype: float64 0   -27.0
1    11.6
2     6.5
3    16.5
4    -2.2
Name: Velocity Components (km/s): vz, dtype: float64

In [6]:
df_1_nn = df_1.dropna(how = "any")
np.sum(df_1_nn.isnull())

Date/Time - Peak Brightness (UT)       0
Latitude (Deg)                         0
Longitude (Deg)                        0
Altitude (km)                          0
Velocity (km/s)                        0
Velocity Components (km/s): vx         0
Velocity Components (km/s): vy         0
Velocity Components (km/s): vz         0
Total Radiated Energy (J)              0
Calculated Total Impact Energy (kt)    0
dtype: int64

In [7]:
print("dimensiones con nulls =", df_1.shape)
print("dimensiones sin nulls =", df_1_nn.shape)

dimensiones con nulls = (92, 10)
dimensiones sin nulls = (7, 10)

In [8]:
df_1_nn

,Date/Time - Peak Brightness (UT),Latitude (Deg),Longitude (Deg),Altitude (km),Velocity (km/s),Velocity Components (km/s): vx,Velocity Components (km/s): vy,Velocity Components (km/s): vz,Total Radiated Energy (J),Calculated Total Impact Energy (kt)
0,11/21/2009 08:53:00 PM,22.0S,29.2E,38.0,32.1,3.0,-17.0,-27.0,10000000000000,18.00
3,08/23/2014 06:29:41 AM,61.7S,132.6E,22.2,16.2,-2.3,5.7,16.5,3820000000000,7.60
14,12/25/2010 11:24:00 PM,38.0N,158.0E,26.0,18.1,18.0,-2.0,-4.0,20000000000000,33.00
23,02/15/2013 03:20:33 AM,54.8N,61.1E,23.3,18.6,12.8,-13.3,-2.4,375000000000000,440.00
25,10/08/2009 02:57:00 AM,4.2S,120.6E,19.1,19.2,14.0,-16.0,-6.0,20000000000000,33.00
26,06/28/2014 02:40:07 AM,18.9N,141.2E,26.3,12.4,12.0,3.5,-10.5,245000000000,0.67
47,05/16/2014 08:06:28 PM,39.4S,95.9W,30.8,18.0,2.9,13.4,-12.5,136000000000,0.40

##### As we can see, the parameter Velocity have a lot of nulls, but this value is the magnitude of the other velocities, so is a better idea drop only the rows that have only nulls.

In [9]:
df_1_ns = df_1.dropna(how = "all")
print(np.sum(df_1_ns.isnull()))
print("dimensiones sin nulls =", df_1_ns.shape)

Date/Time - Peak Brightness (UT)        0
Latitude (Deg)                          0
Longitude (Deg)                         0
Altitude (km)                          24
Velocity (km/s)                        85
Velocity Components (km/s): vx         40
Velocity Components (km/s): vy         40
Velocity Components (km/s): vz         40
Total Radiated Energy (J)               0
Calculated Total Impact Energy (kt)     0
dtype: int64
dimensiones sin nulls = (92, 10)

In [10]:
df_1_ss = df_1.dropna(subset = ["Velocity (km/s)","Velocity Components (km/s): vx",
                               "Velocity Components (km/s): vy","Velocity Components (km/s): vz"],how = "all")
print(np.sum(df_1_ss.isnull()))
print("dimensiones sin nulls =", df_1_ss.shape)

Date/Time - Peak Brightness (UT)        0
Latitude (Deg)                          0
Longitude (Deg)                         0
Altitude (km)                           2
Velocity (km/s)                        45
Velocity Components (km/s): vx          0
Velocity Components (km/s): vy          0
Velocity Components (km/s): vz          0
Total Radiated Energy (J)               0
Calculated Total Impact Energy (kt)     0
dtype: int64
dimensiones sin nulls = (52, 10)

In [11]:
v = round(np.sqrt(np.power(df_1["Velocity Components (km/s): vx"],2) + np.power(df_1["Velocity Components (km/s): vy"],2) + 
            np.power(df_1["Velocity Components (km/s): vz"],2)),1)
print(v)

0     32.0
1     17.5
2     16.5
3     17.6
4     12.0
      ...
87     NaN
88     NaN
89    18.5
90    21.3
91    17.1
Length: 92, dtype: float64

In [25]:
#relative error in velocity
print(abs(df_1["Velocity (km/s)"]-v).dropna(how = "any"))

0     0.1
3     1.4
14    0.4
23    0.0
25    2.9
26    3.9
47    0.6
dtype: float64

In [27]:
df_1["Velocity (km/s)"] = v
print(df_1)

   Date/Time - Peak Brightness (UT) Latitude (Deg) Longitude (Deg)  \
0            11/21/2009 08:53:00 PM          22.0S           29.2E
1            01/09/2015 10:41:11 AM           2.0N           28.8E
2            05/16/2014 12:42:48 PM          44.2S          176.2W
3            08/23/2014 06:29:41 AM          61.7S          132.6E
4            12/12/2014 06:48:11 AM          33.5N          144.9E
..                              ...            ...             ...
87           05/04/2012 09:54:49 PM          76.7N           10.6W
88           04/23/2012 10:01:10 PM          36.2N          107.4E
89           07/25/2012 07:48:20 AM          36.4N           41.5E
90           04/21/2015 01:42:51 AM          37.7N           39.6W
91           05/15/2012 11:04:17 AM          61.8S          135.5W

    Altitude (km)  Velocity (km/s)  Velocity Components (km/s): vx  \
0            38.0             32.0                             3.0
1            36.0             17.5                           -10.7
2            44.0             16.5                            14.4
3            22.2             17.6                            -2.3
4            26.3             12.0                            11.5
..            ...              ...                             ...
87            NaN              NaN                             NaN
88           25.2              NaN                             NaN
89           26.8             18.5                             0.8
90           37.4             21.3                           -15.3
91           33.3             17.1                            -0.8

    Velocity Components (km/s): vy  Velocity Components (km/s): vz  \
0                            -17.0                           -27.0
1                             -7.6                            11.6
2                              4.6                             6.5
3                              5.7                            16.5
4                             -2.8                            -2.2
..                             ...                             ...
87                             NaN                             NaN
88                             NaN                             NaN
89                             2.0                           -18.4
90                            12.8                             7.4
91                             1.1                            17.0

    Total Radiated Energy (J)  Calculated Total Impact Energy (kt)
0              10000000000000                                18.00
1                139000000000                                 0.41
2                309000000000                                 0.82
3               3820000000000                                 7.60
4                 33000000000                                 0.11
..                        ...                                  ...
87               229000000000                                 0.63
88                44000000000                                 0.15
89               133000000000                                 0.39
90                88000000000                                 0.27
91               132000000000                                 0.39

[92 rows x 10 columns]

In [28]:
df_1_ss = df_1.dropna(subset = ["Velocity (km/s)","Velocity Components (km/s): vx",
                               "Velocity Components (km/s): vy","Velocity Components (km/s): vz"],how = "all")
print(np.sum(df_1_ss.isnull()))
print("dimensiones sin nulls =", df_1_ss.shape)

Date/Time - Peak Brightness (UT)       0
Latitude (Deg)                         0
Longitude (Deg)                        0
Altitude (km)                          2
Velocity (km/s)                        0
Velocity Components (km/s): vx         0
Velocity Components (km/s): vy         0
Velocity Components (km/s): vz         0
Total Radiated Energy (J)              0
Calculated Total Impact Energy (kt)    0
dtype: int64
dimensiones sin nulls = (52, 10)

In [41]:
df_1_ss

,Date/Time - Peak Brightness (UT),Latitude (Deg),Longitude (Deg),Altitude (km),Velocity (km/s),Velocity Components (km/s): vx,Velocity Components (km/s): vy,Velocity Components (km/s): vz,Total Radiated Energy (J),Calculated Total Impact Energy (kt)
0,11/21/2009 08:53:00 PM,22.0S,29.2E,38.0,32.0,3.0,-17.0,-27.0,10000000000000,18.000
1,01/09/2015 10:41:11 AM,2.0N,28.8E,36.0,17.5,-10.7,-7.6,11.6,139000000000,0.410
2,05/16/2014 12:42:48 PM,44.2S,176.2W,44.0,16.5,14.4,4.6,6.5,309000000000,0.820
3,08/23/2014 06:29:41 AM,61.7S,132.6E,22.2,17.6,-2.3,5.7,16.5,3820000000000,7.600
4,12/12/2014 06:48:11 AM,33.5N,144.9E,26.3,12.0,11.5,-2.8,-2.2,33000000000,0.110
7,02/17/2015 01:19:50 PM,8.0S,11.2W,39.0,28.8,-28.2,3.4,4.6,33000000000,0.110
9,12/08/2013 03:10:09 AM,32.8N,165.1W,23.5,11.8,2.3,2.5,-11.3,64000000000,0.200
12,11/04/2014 08:13:30 PM,43.1N,115.8E,22.2,16.0,-7.2,-12.1,-7.7,156000000000,0.450
14,12/25/2010 11:24:00 PM,38.0N,158.0E,26.0,18.5,18.0,-2.0,-4.0,20000000000000,33.000
15,01/07/2015 01:05:59 AM,45.7N,26.9E,45.5,35.7,-35.4,1.8,-4.4,136000000000,0.400
19,12/23/2013 08:30:57 AM,39.5N,2.0E,34.3,15.1,-1.1,11.4,-9.9,147000000000,0.430
20,11/26/2014 05:40:16 PM,68.2S,24.0W,37.0,19.9,-7.0,16.1,9.4,105000000000,0.320
23,02/15/2013 03:20:33 AM,54.8N,61.1E,23.3,18.6,12.8,-13.3,-2.4,375000000000000,440.000
24,03/29/2014 01:45:41 PM,28.7S,121.5E,30.7,16.3,10.0,-12.7,2.2,39000000000,0.130
25,10/08/2009 02:57:00 AM,4.2S,120.6E,19.1,22.1,14.0,-16.0,-6.0,20000000000000,33.000
26,06/28/2014 02:40:07 AM,18.9N,141.2E,26.3,16.3,12.0,3.5,-10.5,245000000000,0.670
28,10/12/2013 04:06:45 PM,19.1S,25.0W,22.2,12.8,-8.0,8.4,-5.5,1610000000000,3.500
29,11/21/2013 01:50:35 AM,44.7N,35.3E,59.3,12.4,-5.0,-11.0,-2.7,75000000000,0.230
34,07/31/2013 03:50:14 AM,31.8S,137.1E,29.1,17.8,17.7,-2.3,-0.1,69000000000,0.220
35,02/26/2015 10:06:24 PM,68.0N,149.0W,33.7,21.1,5.6,-2.3,-20.2,188000000000,0.530
39,03/04/2015 04:30:05 AM,15.9S,88.1E,39.8,18.0,7.8,-16.0,-2.5,55000000000,0.180
42,07/30/2013 02:36:58 AM,50.2S,90.2E,25.6,18.8,15.9,-8.6,5.1,390000000000,1.000
44,04/30/2013 08:40:38 AM,35.5N,30.7W,21.2,12.1,1.0,9.0,-8.0,5110000000000,10.000
45,07/27/2013 08:30:36 AM,0.3N,156.2E,26.5,22.1,16.0,14.9,-3.3,120000000000,0.360
47,05/16/2014 08:06:28 PM,39.4S,95.9W,30.8,18.6,2.9,13.4,-12.5,136000000000,0.400
48,02/20/2013 01:13:07 PM,23.0S,38.8W,NaN,13.6,-11.0,-8.0,-1.0,32000000000,0.100
49,01/08/2014 05:05:34 PM,1.3S,147.6E,18.7,44.8,-3.4,-43.5,-10.3,31000000000,0.110
50,05/08/2014 07:42:37 PM,36.9S,87.3E,35.4,19.0,-2.0,-16.1,9.9,1050000000000,2.400
51,04/21/2013 06:23:12 AM,28.1S,64.6W,40.7,14.9,5.0,14.0,1.0,1070000000000,2.500
52,12/13/2014 02:53:52 AM,86.7N,162.1W,30.7,21.7,15.3,-13.3,-7.8,44000000000,0.150
54,11/26/2014 11:16:51 PM,69.5S,179.7W,23.3,25.3,21.3,2.2,13.4,118000000000,0.350
56,01/02/2015 01:39:19 PM,31.1S,140.0E,38.1,18.1,4.5,-14.4,-10.0,20000000000,0.073
57,03/11/2015 06:18:59 AM,8.0N,119.1E,35.2,19.9,5.5,-10.5,-16.0,72000000000,0.230
58,06/26/2014 05:54:41 AM,71.5S,93.4E,28.5,11.2,7.0,2.9,8.3,61000000000,0.200
60,01/12/2014 04:00:48 PM,2.9N,64.4E,37.0,16.2,-5.2,-15.1,2.6,78000000000,0.240
61,11/28/2014 11:47:18 AM,45.8S,172.7W,26.1,13.4,0.4,-1.4,13.3,700000000000,1.700
62,10/14/2014 10:25:03 AM,2.0S,119.2E,27.2,16.9,15.0,-6.9,-3.5,29000000000,0.100
66,10/03/2012 10:50:12 PM,41.5S,21.9W,NaN,17.0,-2.4,5.5,15.9,280000000000,0.750
69,10/02/2012 04:38:38 PM,8.1S,111.9W,35.0,15.4,1.4,15.3,1.0,470000000000,1.200
72,11/20/2012 08:37:31 PM,2.5N,29.6E,33.3,14.3,-12.2,-5.3,5.3,25000000000,0.089
74,10/19/2012 04:26:22 PM,75.4S,49.6E,29.3,13.2,-2.3,-3.9,12.4,23000000000,0.082
75,03/30/2015 09:33:52 PM,36.1S,5.5W,33.1,13.8,-13.7,-1.7,0.8,64000000000,0.200
76,10/09/2012 12:54:55 AM,51.2N,84.6W,27.8,13.5,3.4,12.0,5.1,210000000000,0.580
77,09/10/2012 01:03:32 AM,69.8S,111.7W,23.8,16.9,-10.2,-5.2,12.4,23000000000,0.082
78,04/08/2015 04:06:31 AM,25.5S,51.5E,36.3,19.2,8.0,-15.6,-7.9,173000000000,0.490
79,08/27/2012 06:57:43 AM,18.3S,64.2E,38.7,28.9,-8.0,-23.7,-14.5,68000000000,0.220
80,08/26/2012 02:55:47 PM,11.8N,117.0E,36.0,12.7,5.0,-11.6,-0.7,249000000000,0.680
81,09/18/2012 07:34:39 PM,1.2N,52.2W,28.1,18.3,-1.9,14.1,-11.5,244000000000,0.670
85,04/30/2015 10:21:01 AM,48.7S,139.1E,26.7,12.9,12.2,-4.2,0.9,105000000000,0.320
89,07/25/2012 07:48:20 AM,36.4N,41.5E,26.8,18.5,0.8,2.0,-18.4,133000000000,0.390
90,04/21/2015 01:42:51 AM,37.7N,39.6W,37.4,21.3,-15.3,12.8,7.4,88000000000,0.270
91,05/15/2012 11:04:17 AM,61.8S,135.5W,33.3,17.1,-0.8,1.1,17.0,132000000000,0.390

In [48]:
#df_1_ss["Altitude (km)"].apply(lambda x: x.fillna(x.mean()))    
df_1_clear = df_1_ss.fillna(df_1_ss["Altitude (km)"].mean())
df_1_clear

,Date/Time - Peak Brightness (UT),Latitude (Deg),Longitude (Deg),Altitude (km),Velocity (km/s),Velocity Components (km/s): vx,Velocity Components (km/s): vy,Velocity Components (km/s): vz,Total Radiated Energy (J),Calculated Total Impact Energy (kt)
0,11/21/2009 08:53:00 PM,22.0S,29.2E,38.000,32.0,3.0,-17.0,-27.0,10000000000000,18.000
1,01/09/2015 10:41:11 AM,2.0N,28.8E,36.000,17.5,-10.7,-7.6,11.6,139000000000,0.410
2,05/16/2014 12:42:48 PM,44.2S,176.2W,44.000,16.5,14.4,4.6,6.5,309000000000,0.820
3,08/23/2014 06:29:41 AM,61.7S,132.6E,22.200,17.6,-2.3,5.7,16.5,3820000000000,7.600
4,12/12/2014 06:48:11 AM,33.5N,144.9E,26.300,12.0,11.5,-2.8,-2.2,33000000000,0.110
7,02/17/2015 01:19:50 PM,8.0S,11.2W,39.000,28.8,-28.2,3.4,4.6,33000000000,0.110
9,12/08/2013 03:10:09 AM,32.8N,165.1W,23.500,11.8,2.3,2.5,-11.3,64000000000,0.200
12,11/04/2014 08:13:30 PM,43.1N,115.8E,22.200,16.0,-7.2,-12.1,-7.7,156000000000,0.450
14,12/25/2010 11:24:00 PM,38.0N,158.0E,26.000,18.5,18.0,-2.0,-4.0,20000000000000,33.000
15,01/07/2015 01:05:59 AM,45.7N,26.9E,45.500,35.7,-35.4,1.8,-4.4,136000000000,0.400
19,12/23/2013 08:30:57 AM,39.5N,2.0E,34.300,15.1,-1.1,11.4,-9.9,147000000000,0.430
20,11/26/2014 05:40:16 PM,68.2S,24.0W,37.000,19.9,-7.0,16.1,9.4,105000000000,0.320
23,02/15/2013 03:20:33 AM,54.8N,61.1E,23.300,18.6,12.8,-13.3,-2.4,375000000000000,440.000
24,03/29/2014 01:45:41 PM,28.7S,121.5E,30.700,16.3,10.0,-12.7,2.2,39000000000,0.130
25,10/08/2009 02:57:00 AM,4.2S,120.6E,19.100,22.1,14.0,-16.0,-6.0,20000000000000,33.000
26,06/28/2014 02:40:07 AM,18.9N,141.2E,26.300,16.3,12.0,3.5,-10.5,245000000000,0.670
28,10/12/2013 04:06:45 PM,19.1S,25.0W,22.200,12.8,-8.0,8.4,-5.5,1610000000000,3.500
29,11/21/2013 01:50:35 AM,44.7N,35.3E,59.300,12.4,-5.0,-11.0,-2.7,75000000000,0.230
34,07/31/2013 03:50:14 AM,31.8S,137.1E,29.100,17.8,17.7,-2.3,-0.1,69000000000,0.220
35,02/26/2015 10:06:24 PM,68.0N,149.0W,33.700,21.1,5.6,-2.3,-20.2,188000000000,0.530
39,03/04/2015 04:30:05 AM,15.9S,88.1E,39.800,18.0,7.8,-16.0,-2.5,55000000000,0.180
42,07/30/2013 02:36:58 AM,50.2S,90.2E,25.600,18.8,15.9,-8.6,5.1,390000000000,1.000
44,04/30/2013 08:40:38 AM,35.5N,30.7W,21.200,12.1,1.0,9.0,-8.0,5110000000000,10.000
45,07/27/2013 08:30:36 AM,0.3N,156.2E,26.500,22.1,16.0,14.9,-3.3,120000000000,0.360
47,05/16/2014 08:06:28 PM,39.4S,95.9W,30.800,18.6,2.9,13.4,-12.5,136000000000,0.400
48,02/20/2013 01:13:07 PM,23.0S,38.8W,31.362,13.6,-11.0,-8.0,-1.0,32000000000,0.100
49,01/08/2014 05:05:34 PM,1.3S,147.6E,18.700,44.8,-3.4,-43.5,-10.3,31000000000,0.110
50,05/08/2014 07:42:37 PM,36.9S,87.3E,35.400,19.0,-2.0,-16.1,9.9,1050000000000,2.400
51,04/21/2013 06:23:12 AM,28.1S,64.6W,40.700,14.9,5.0,14.0,1.0,1070000000000,2.500
52,12/13/2014 02:53:52 AM,86.7N,162.1W,30.700,21.7,15.3,-13.3,-7.8,44000000000,0.150
54,11/26/2014 11:16:51 PM,69.5S,179.7W,23.300,25.3,21.3,2.2,13.4,118000000000,0.350
56,01/02/2015 01:39:19 PM,31.1S,140.0E,38.100,18.1,4.5,-14.4,-10.0,20000000000,0.073
57,03/11/2015 06:18:59 AM,8.0N,119.1E,35.200,19.9,5.5,-10.5,-16.0,72000000000,0.230
58,06/26/2014 05:54:41 AM,71.5S,93.4E,28.500,11.2,7.0,2.9,8.3,61000000000,0.200
60,01/12/2014 04:00:48 PM,2.9N,64.4E,37.000,16.2,-5.2,-15.1,2.6,78000000000,0.240
61,11/28/2014 11:47:18 AM,45.8S,172.7W,26.100,13.4,0.4,-1.4,13.3,700000000000,1.700
62,10/14/2014 10:25:03 AM,2.0S,119.2E,27.200,16.9,15.0,-6.9,-3.5,29000000000,0.100
66,10/03/2012 10:50:12 PM,41.5S,21.9W,31.362,17.0,-2.4,5.5,15.9,280000000000,0.750
69,10/02/2012 04:38:38 PM,8.1S,111.9W,35.000,15.4,1.4,15.3,1.0,470000000000,1.200
72,11/20/2012 08:37:31 PM,2.5N,29.6E,33.300,14.3,-12.2,-5.3,5.3,25000000000,0.089
74,10/19/2012 04:26:22 PM,75.4S,49.6E,29.300,13.2,-2.3,-3.9,12.4,23000000000,0.082
75,03/30/2015 09:33:52 PM,36.1S,5.5W,33.100,13.8,-13.7,-1.7,0.8,64000000000,0.200
76,10/09/2012 12:54:55 AM,51.2N,84.6W,27.800,13.5,3.4,12.0,5.1,210000000000,0.580
77,09/10/2012 01:03:32 AM,69.8S,111.7W,23.800,16.9,-10.2,-5.2,12.4,23000000000,0.082
78,04/08/2015 04:06:31 AM,25.5S,51.5E,36.300,19.2,8.0,-15.6,-7.9,173000000000,0.490
79,08/27/2012 06:57:43 AM,18.3S,64.2E,38.700,28.9,-8.0,-23.7,-14.5,68000000000,0.220
80,08/26/2012 02:55:47 PM,11.8N,117.0E,36.000,12.7,5.0,-11.6,-0.7,249000000000,0.680
81,09/18/2012 07:34:39 PM,1.2N,52.2W,28.100,18.3,-1.9,14.1,-11.5,244000000000,0.670
85,04/30/2015 10:21:01 AM,48.7S,139.1E,26.700,12.9,12.2,-4.2,0.9,105000000000,0.320
89,07/25/2012 07:48:20 AM,36.4N,41.5E,26.800,18.5,0.8,2.0,-18.4,133000000000,0.390
90,04/21/2015 01:42:51 AM,37.7N,39.6W,37.400,21.3,-15.3,12.8,7.4,88000000000,0.270
91,05/15/2012 11:04:17 AM,61.8S,135.5W,33.300,17.1,-0.8,1.1,17.0,132000000000,0.390

### #GLC03122015

In [12]:
df_2 #GLC03122015

,the_geom,OBJECTID,id,date_,time_,country,nearest_pl,hazard_typ,landslide_,trigger,...,population,countrycod,continentc,key_,version,user_id,tstamp,changeset_,latitude,longitude
0,POINT (-73.40200000000006 41.55850000000008),1,3177,03/07/2011 08:00:00 AM +0000,12/30/1899 08:00:00 AM +0000,United States,Grove Street from Anderson Avenue to Hine Hill...,landslide,Mudslide,Downpour,...,6523,NaN,NaN,US,1,1,Tue Apr 01 2014 00:00:00 GMT+0000 (UTC),1,41.5585,-73.4020
1,POINT (113.91710000000012 0.1115000000000351),2,490,04/01/2008 07:00:00 AM +0000,NaN,Indonesia,"Borneo, Muara",landslide,Landslide,Rain,...,0,NaN,AS,ID,1,1,Tue Apr 01 2014 00:00:00 GMT+0000 (UTC),1,0.1115,113.9171
2,POINT (-127.69800000000009 52.35450000000008),3,6760,01/30/2015 08:00:00 AM +0000,12/30/1899 08:00:00 AM +0000,NaN,"Ocean Falls, B.C.",landslide,Mudslide,Rain,...,8987,NaN,NaN,CA,2,7,Tue Feb 17 2015 15:42:41 GMT+0000 (UTC),3910846556,52.3545,-127.6980
3,POINT (-127.50620000000009 50.70530000000013),4,2494,09/24/2010 07:00:00 AM +0000,NaN,Canada,"road to Holberg, 3 km from hwy 19, Vancouver I...",landslide,Complex,Downpour,...,33430,NaN,NaN,CA,1,1,Tue Apr 01 2014 00:00:00 GMT+0000 (UTC),1,50.7053,-127.5062
4,POINT (-132.41490000000013 53.331900000000125),5,6415,08/31/2014 07:00:00 AM +0000,12/30/1899 08:00:00 AM +0000,NaN,Rennell Sound Road,landslide,Mudslide,Downpour,...,14708,NaN,NaN,CA,1,7,Thu Dec 04 2014 15:14:07 GMT+0000 (UTC),1280292118,53.3319,-132.4149
5,POINT (-127.48460000000007 50.43350000000009),6,2493,09/24/2010 07:00:00 AM +0000,12/30/1899 08:00:00 AM +0000,Canada,"main road in Port Alice and Neucel Pulp Mill, ...",landslide,Mudslide,Downpour,...,33430,NaN,NaN,CA,1,1,Tue Apr 01 2014 00:00:00 GMT+0000 (UTC),1,50.4335,-127.4846
6,POINT (-143.1680000000001 61.97800000000013),7,5194,07/25/2013 07:00:00 AM +0000,NaN,United States,"Wrangell-St. Elias National Preserve, Chisana, Ak",landslide,Landslide,Snowfall_snowmelt,...,1258,NaN,NaN,US,2,7,Fri Sep 12 2014 21:10:07 GMT+0000 (UTC),1985434843,61.9780,-143.1680
7,POINT (-127.0961000000001 50.5854000000001),8,4066,11/25/2011 08:00:00 AM +0000,NaN,Canada,"Fort McNeill, Vancover Island, British Colombia",landslide,Landslide,Downpour,...,33430,NaN,NaN,CA,1,1,Tue Apr 01 2014 00:00:00 GMT+0000 (UTC),1,50.5854,-127.0961
8,POINT (-126.40390000000009 50.99750000000011),9,2505,09/26/2010 07:00:00 AM +0000,NaN,Canada,"Kingcome Inlet, ON",landslide,Mudslide,Downpour,...,33430,NaN,NaN,CA,1,1,Tue Apr 01 2014 00:00:00 GMT+0000 (UTC),1,50.9975,-126.4039
9,POINT (116.38160000000016 1.3542000000000498),10,945,12/22/2008 08:00:00 AM +0000,NaN,Indonesia,"four villages in Lempake Jaya, North Samarinda...",landslide,Landslide,Downpour,...,0,NaN,AS,ID,1,1,Tue Apr 01 2014 00:00:00 GMT+0000 (UTC),1,1.3542,116.3816
10,POINT (107.75030000000014 0.708900000000029),11,853,10/18/2008 07:00:00 AM +0000,NaN,Indonesia,"Petir village, Darmaga sub district, Bogor dis...",landslide,Landslide,Rain,...,47735,NaN,AS,ID,1,1,Tue Apr 01 2014 00:00:00 GMT+0000 (UTC),1,0.7089,107.7503
11,POINT (-130.9916000000001 60.048400000000136),12,4397,06/09/2012 07:00:00 AM +0000,NaN,Canada,"Teslin, Yukon territory ( between Junction 37 ...",landslide,Mudslide,Downpour,...,1547,NaN,NaN,CA,1,1,Tue Apr 01 2014 00:00:00 GMT+0000 (UTC),1,60.0484,-130.9916
12,POINT (97.52390000000018 1.1346000000000356),13,4073,12/01/2011 08:00:00 AM +0000,NaN,Indonesia,"Majo Kampung BarijeÃÂ , North Sumatra, Nias",landslide,Landslide,Downpour,...,0,NaN,AS,ID,1,1,Tue Apr 01 2014 00:00:00 GMT+0000 (UTC),1,1.1346,97.5239
13,POINT (-71.91650000000004 -11.695299999999985),14,5751,01/04/2014 08:00:00 AM +0000,NaN,Peru,Quellouno,landslide,Landslide,Downpour,...,0,NaN,SA,PE,1,1,Sun Aug 24 2014 00:00:00 GMT+0000 (UTC),1,-11.6953,-71.9165
14,POINT (-137.0834000000001 58.56240000000014),15,5874,02/16/2014 08:00:00 AM +0000,12/30/1899 08:00:00 AM +0000,United States,Mt La Perouse Glacier Bay National Park and Pr...,landslide,Landslide,unknown,...,1713,NaN,NaN,US,2,7,Tue Jan 06 2015 23:26:25 GMT+0000 (UTC),3584922322,58.5624,-137.0834
15,POINT (-57.58860000000005 50.240500000000104),16,5624,11/05/2013 08:00:00 AM +0000,NaN,Canada,"Daniel'S Harbour, Nl",landslide,Landslide,Unknown,...,4163,NaN,NaN,CA,1,1,Tue Apr 01 2014 00:00:00 GMT+0000 (UTC),1,50.2405,-57.5886
16,POINT (-57.58860000000005 50.240500000000104),17,5671,12/03/2013 08:00:00 AM +0000,12/30/1899 08:00:00 AM +0000,Canada,"Daniel'S Harbour, Nl",landslide,Landslide,Unknown,...,4163,NaN,NaN,CA,1,1,Tue Apr 01 2014 00:00:00 GMT+0000 (UTC),1,50.2405,-57.5886
17,POINT (-57.586600000000026 50.23900000000008),18,62,04/16/2007 07:00:00 AM +0000,NaN,Canada,"Western Newfoundland town, Daniel's Harbour",landslide,Landslide,Rain,...,4163,NaN,NaN,CA,1,1,Tue Apr 01 2014 00:00:00 GMT+0000 (UTC),1,50.2390,-57.5866
18,POINT (96.27500000000012 25.606000000000073),19,678,07/30/2008 07:00:00 AM +0000,NaN,Myanmar (Burma),"Hmawzizar Jade Mine in Phakant, Pha-Kant in Ka...",landslide,Complex,Downpour,...,90894,NaN,AS,MM,2,7,Fri Sep 12 2014 19:03:47 GMT+0000 (UTC),2474200034,25.6060,96.2750
19,POINT (96.30050000000016 25.61720000000005),20,6656,01/06/2015 08:00:00 AM +0000,12/30/1899 08:00:00 AM +0000,NaN,Hpakant,landslide,Other,Downpour,...,90894,NaN,AS,MM,2,7,Mon Jan 12 2015 21:50:45 GMT+0000 (UTC),102685909,25.6172,96.3005
20,POINT (96.31670000000018 25.616700000000062),21,2084,07/15/2010 07:00:00 AM +0000,NaN,Myanmar (Burma),"road between Hsaidaung(?) and Hpakant, Kachin",landslide,Landslide,Downpour,...,90894,NaN,AS,MM,1,1,Tue Apr 01 2014 00:00:00 GMT+0000 (UTC),1,25.6167,96.3167
21,POINT (96.31670000000018 25.615700000000086),22,6124,07/04/2014 07:00:00 AM +0000,NaN,Myanmar,"Hpakan, Kachin",landslide,Landslide,Rain,...,90894,NaN,AS,MM,2,7,Fri Sep 12 2014 20:57:05 GMT+0000 (UTC),4246032655,25.6157,96.3167
22,POINT (-94.39460000000005 49.974700000000084),23,6108,06/26/2014 07:00:00 AM +0000,NaN,Canada,"Redditt, Ontario",landslide,Mudslide,Rain,...,1026,NaN,NaN,CA,1,1,Sun Aug 24 2014 00:00:00 GMT+0000 (UTC),1,49.9747,-94.3946
23,POINT (99.00000000000016 21.000000000000078),24,3622,06/18/2011 07:00:00 AM +0000,12/30/1899 08:00:00 AM +0000,Myanmar (Burma),Sakhan Thit village in Kyun Su township,landslide,Landslide,Downpour,...,27520,NaN,AS,MM,2,7,Tue Sep 16 2014 14:48:57 GMT+0000 (UTC),1570285771,21.0000,99.0000
24,POINT (170.17940000000027 -43.5586),25,6642,01/21/2013 08:00:00 AM +0000,12/30/1899 08:00:00 AM +0000,NaN,Mount Haast,landslide,Rock_Fall,Earthquake,...,1187,NaN,OC,NZ,2,7,Wed Jan 07 2015 15:54:41 GMT+0000 (UTC),1117893979,-43.5586,170.1794
25,POINT (170.17960000000022 -43.561099999999996),26,6639,01/21/2013 08:00:00 AM +0000,12/30/1899 08:00:00 AM +0000,NaN,Mt. Haast,landslide,Complex,No_Apparent_trigger,...,1187,NaN,OC,NZ,2,7,Wed Jan 07 2015 15:53:55 GMT+0000 (UTC),236844550,-43.5611,170.1796
26,POINT (170.18060000000017 -43.56060000000001),27,6641,01/23/2013 08:00:00 AM +0000,12/30/1899 08:00:00 AM +0000,NaN,Mt Haast,landslide,Rock_Fall,Earthquake,...,1187,NaN,OC,NZ,2,7,Wed Jan 07 2015 15:51:10 GMT+0000 (UTC),2448722514,-43.5606,170.1806
27,POINT (170.1797000000002 -43.56979999999997),28,6640,01/05/2013 08:00:00 AM +0000,12/30/1899 08:00:00 AM +0000,NaN,Mt Haast,landslide,Rock_Fall,Earthquake,...,1187,NaN,OC,NZ,1,7,Wed Jan 07 2015 15:47:17 GMT+0000 (UTC),3104773806,-43.5698,170.1797
28,POINT (170.0645000000002 -43.701499999999996),29,423,01/13/2008 08:00:00 AM +0000,NaN,New Zealand,Auraki-Mount Cook National Park,landslide,Landslide,Freeze_thaw,...,1187,NaN,OC,NZ,1,1,Tue Apr 01 2014 00:00:00 GMT+0000 (UTC),1,-43.7015,170.0645
29,POINT (170.15900000000028 -43.643000000000015),30,6643,01/09/2013 08:00:00 AM +0000,NaN,NaN,"Ball Ridge, 1km southwest of Caroline Hut",landslide,Rock_Fall,Downpour,...,1187,NaN,OC,NZ,1,7,Wed Jan 07 2015 16:11:21 GMT+0000 (UTC),137035132,-43.6430,170.1590
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6758,POINT (-86.85680000000005 36.095900000000064),6761,1850,05/09/2010 07:00:00 AM +0000,NaN,United States,"Bella Meade, Nashville, TN",landslide,Mudslide,Downpour,...,2912,NaN,NaN,US,1,1,Tue Apr 01 2014 00:00:00 GMT+0000 (UTC),1,36.0959,-86.8568
6759,POINT (98.33330000000016 7.909000000000056),6762,3946,08/25/2011 07:00:00 AM +0000,12/30/1899 08:00:00 AM +0000,Thailand,"Kathu, Phuket",landslide,Landslide,Downpour,...,0,NaN,AS,TH,1,1,Tue Apr 01 2014 00:00:00 GMT+0000 (UTC),1,7.9090,98.3333
6760,POINT (-135.3300000000001 57.05310000000008),6763,5788,01/14/2014 08:00:00 AM +0000,NaN,United States,"608 Biorka St Tongass National Forest, Sitka, ...",landslide,Landslide,Downpour,...,8881,NaN,NaN,US,1,1,Sun Aug 24 2014 00:00:00 GMT+0000 (UTC),1,57.0531,-135.3300
6761,POINT (-76.70940000000003 -11.943099999999971),6764,1361,12/16/2009 08:00:00 AM +0000,NaN,Peru,Chosica,landslide,Landslide,Downpour,...,88606,NaN,SA,PE,1,1,Tue Apr 01 2014 00:00:00 GMT+0000 (UTC),1,-11.9431,-76.7094
6762,POINT (124.7556000000002 8.654200000000067),6765,1326,11/24/2009 08:00:00 AM +0000,NaN,Philippines,Jasaan town in Misamis Oriental province,landslide,Landslide,Tropical_Cyclone,...,16435,NaN,AS,PH,1,1,Tue Apr 01 2014 00:00:00 GMT+0000 (UTC),1,8.6542,124.7556
6763,POINT (-123.43070000000007 48.11810000000007),6766,1317,11/20/2009 08:00:00 AM +0000,NaN,United States,"Port Angeles, Olympic Peninsula, Washington State",landslide,Mudslide,Downpour,...,19038,NaN,NaN,US,1,1,Tue Apr 01 2014 00:00:00 GMT+0000 (UTC),1,48.1181,-123.4307
6764,POINT (125.66780000000017 6.2644000000000295),6767,1419,01/20/2010 08:00:00 AM +0000,NaN,Philippines,Sitio Lapuan in Barangay Lanao in Don Marcelio...,landslide,Landslide,Downpour,...,7983,NaN,AS,PH,1,1,Tue Apr 01 2014 00:00:00 GMT+0000 (UTC),1,6.2644,125.6678
6765,POINT (-72.25560000000003 -13.454699999999958),6768,1476,02/06/2010 08:00:00 AM +0000,NaN,Peru,Zurite district,landslide,Mudslide,Downpour,...,0,NaN,SA,PE,1,1,Tue Apr 01 2014 00:00:00 GMT+0000 (UTC),1,-13.4547,-72.2556
6766,POINT (-72.25560000000003 -13.454699999999958),6769,1495,02/09/2010 08:00:00 AM +0000,NaN,Peru,"Zurite district, near Cusco",landslide,Mudslide,Downpour,...,0,NaN,SA,PE,1,1,Tue Apr 01 2014 00:00:00 GMT+0000 (UTC),1,-13.4547,-72.2556
6767,POINT (125.89920000000019 7.163300000000056),6770,464,02/23/2008 08:00:00 AM +0000,NaN,Philippines,"Barangay Kingking, Pantukan town, Composta Valley",landslide,Landslide,Rain,...,0,NaN,AS,PH,1,1,Tue Apr 01 2014 00:00:00 GMT+0000 (UTC),1,7.1633,125.8992
6768,POINT (36.966700000000095 -0.6832999999999749),6771,1276,11/03/2009 08:00:00 AM +0000,NaN,Kenya,"Kangema, Murang'a West",landslide,Landslide,Downpour,...,4319,NaN,AF,KE,1,1,Tue Apr 01 2014 00:00:00 GMT+0000 (UTC),1,-0.6833,36.9667
6769,POINT (34.80110000000011 30.60940000000008),6772,1368,12/22/2009 08:00:00 AM +0000,NaN,Israel,Highway 40 between Mitzpeh Rimon and Machtesh,landslide,Landslide,Rain,...,4769,NaN,AS,IL,2,7,Mon Sep 15 2014 20:34:51 GMT+0000 (UTC),4261137817,30.6094,34.8011
6770,POINT (-122.23480000000006 47.380900000000096),6773,3734,07/05/2011 07:00:00 AM +0000,12/30/1899 08:00:00 AM +0000,United States,"Kent, WA",landslide,Landslide,Downpour,...,92411,NaN,NaN,US,1,1,Tue Apr 01 2014 00:00:00 GMT+0000 (UTC),1,47.3809,-122.2348
6771,POINT (120.67690000000017 16.363900000000076),6774,538,05/17/2008 07:00:00 AM +0000,NaN,Philippines,"City Camp Lagoon; Itogon, Benguet",landslide,Landslide,Tropical_Cyclone,...,28407,NaN,AS,PH,1,1,Tue Apr 01 2014 00:00:00 GMT+0000 (UTC),1,16.3639,120.6769
6772,POINT (138.43330000000017 36.31670000000006),6775,432,01/19/2008 08:00:00 AM +0000,NaN,Japan,"Joshinetsu Expressway in Komoro, Nagano Prefec...",landslide,Landslide,Rain,...,46272,NaN,AS,JP,1,1,Tue Apr 01 2014 00:00:00 GMT+0000 (UTC),1,36.3167,138.4333
6773,POINT (-77.7172 -7.8057999999999845),6776,1005,04/14/2009 07:00:00 AM +0000,NaN,Peru,Aricapampa towns of La Libertad province.,landslide,Mudslide,Downpour,...,0,NaN,SA,PE,1,1,Tue Apr 01 2014 00:00:00 GMT+0000 (UTC),1,-7.8058,-77.7172
6774,POINT (-83.37320000000003 37.16090000000006),6777,1815,05/03/2010 07:00:00 AM +0000,NaN,United States,"US 421, north of Hyden, Leslie County, KY",landslide,Mudslide,Downpour,...,365,NaN,NaN,US,1,1,Tue Apr 01 2014 00:00:00 GMT+0000 (UTC),1,37.1609,-83.3732
6775,POINT (-122.67070000000007 45.42060000000008),6778,5854,02/10/2014 08:00:00 AM +0000,NaN,United States,"444 6th St Lake Oswego, OR 97034",landslide,mudslide,Snowfall_snowmelt,...,36619,NaN,NaN,US,1,1,Sun Aug 24 2014 00:00:00 GMT+0000 (UTC),1,45.4206,-122.6707
6776,POINT (125.09420000000024 7.906400000000083),6779,3725,07/04/2011 07:00:00 AM +0000,12/30/1899 08:00:00 AM +0000,Philippines,"Valencia City, Bukidnon province",landslide,Landslide,Rain,...,83591,NaN,AS,PH,1,1,Tue Apr 01 2014 00:00:00 GMT+0000 (UTC),1,7.9064,125.0942
6777,POINT (125.09420000000024 7.906400000000083),6780,3726,07/04/2011 07:00:00 AM +0000,12/30/1899 08:00:00 AM +0000,Philippines,"Lumbayao villages, Valencia City, Bukidnon",landslide,Landslide,Downpour,...,83591,NaN,AS,PH,1,1,Tue Apr 01 2014 00:00:00 GMT+0000 (UTC),1,7.9064,125.0942
6778,POINT (10.266700000000082 6.250000000000063),6781,283,09/27/2007 07:00:00 AM +0000,NaN,Cameroon,"Abuh, Fundong Subdivision, North West Province",landslide,Landslide,Unknown,...,43509,NaN,AF,CM,1,1,Tue Apr 01 2014 00:00:00 GMT+0000 (UTC),1,6.2500,10.2667
6779,POINT (159.9500000000002 -9.433299999999983),6782,1427,01/21/2010 08:00:00 AM +0000,NaN,Solomon Islands,NaN,landslide,Complex,Downpour,...,56298,NaN,OC,SB,1,1,Tue Apr 01 2014 00:00:00 GMT+0000 (UTC),1,-9.4333,159.9500
6780,POINT (21.650000000000055 37.48330000000008),6783,358,11/18/2007 08:00:00 AM +0000,NaN,Greece,Zacharo municipality and other regions (Rhodop...,landslide,Landslide,Rain,...,5894,NaN,EU,GR,1,1,Tue Apr 01 2014 00:00:00 GMT+0000 (UTC),1,37.4833,21.6500
6781,POINT (-91.13330000000006 14.75000000000007),6784,2353,08/28/2010 07:00:00 AM +0000,NaN,Guatemala,"AndrÃÂ©s Semetabaj, Solola",landslide,Landslide,Downpour,...,2605,NaN,NaN,GT,1,1,Tue Apr 01 2014 00:00:00 GMT+0000 (UTC),1,14.7500,-91.1333
6782,POINT (123.84360000000017 7.895300000000084),6785,461,02/21/2008 08:00:00 AM +0000,NaN,Philippines,"Salvador, Mindanao",landslide,Landslide,Rain,...,4285,NaN,AS,PH,1,1,Tue Apr 01 2014 00:00:00 GMT+0000 (UTC),1,7.8953,123.8436
6783,POINT (-89.84860000000006 13.870300000000055),6786,230,09/05/2007 07:00:00 AM +0000,NaN,El Salvador,Ataco,landslide,Mudslide,Tropical_Cyclone,...,7797,NaN,NaN,SV,1,1,Tue Apr 01 2014 00:00:00 GMT+0000 (UTC),1,13.8703,-89.8486
6784,POINT (-106.95620000000007 44.797200000000075),6787,3755,07/09/2011 07:00:00 AM +0000,NaN,United States,Westbound Lanes of Interstate 90 (between exit...,landslide,Landslide,Rain,...,17444,NaN,NaN,US,1,1,Tue Apr 01 2014 00:00:00 GMT+0000 (UTC),1,44.7972,-106.9562
6785,POINT (-117.91450000000009 33.8353000000001),6788,2553,10/06/2010 07:00:00 AM +0000,NaN,United States,"Anaheim, CA",landslide,Other,Downpour,...,336265,NaN,NaN,US,1,1,Tue Apr 01 2014 00:00:00 GMT+0000 (UTC),1,33.8353,-117.9145
6786,POINT (-121.78680000000008 47.495700000000106),6789,5916,03/03/2014 08:00:00 AM +0000,NaN,United States,"North Bend Waste Water Treatment North Bend, W...",landslide,Landslide,Downpour,...,5731,NaN,NaN,US,1,1,Sun Aug 24 2014 00:00:00 GMT+0000 (UTC),1,47.4957,-121.7868
6787,POINT (-75.43750000000001 2.8917000000000743),6790,5959,03/16/2014 07:00:00 AM +0000,NaN,Columbia,"Palermo, Huila",landslide,mudslide,Continuous_Rain,...,9896,NaN,SA,CO,1,1,Sun Aug 24 2014 00:00:00 GMT+0000 (UTC),1,2.8917,-75.4375

In [15]:
#Se buscan los Null
np.sum(df_2.isnull())

the_geom         0
OBJECTID         0
id               0
date_            4
time_         5519
country        608
nearest_pl      64
hazard_typ       0
landslide_       0
trigger          0
storm_name    6323
fatalities       0
injuries         0
source_nam    4293
source_lin     505
location_a       0
landslide1       2
photos_lin    6499
cat_src          1
cat_id           0
countrynam       0
near             1
distance         0
adminname1      71
adminname2    2994
population       0
countrycod    6788
continentc    2171
key_             2
version          0
user_id          0
tstamp           0
changeset_       0
latitude         0
longitude        0
dtype: int64

### Meteorite Landings

In [13]:
df_3 #Meteorite_Landings

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation
0,Aachen,1,Valid,L5,21.0,Fell,01/01/1880 12:00:00 AM,50.77500,6.08333,"(50.775, 6.08333)"
1,Aarhus,2,Valid,H6,720.0,Fell,01/01/1951 12:00:00 AM,56.18333,10.23333,"(56.18333, 10.23333)"
2,Abee,6,Valid,EH4,107000.0,Fell,01/01/1952 12:00:00 AM,54.21667,-113.00000,"(54.21667, -113.0)"
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,01/01/1976 12:00:00 AM,16.88333,-99.90000,"(16.88333, -99.9)"
4,Achiras,370,Valid,L6,780.0,Fell,01/01/1902 12:00:00 AM,-33.16667,-64.95000,"(-33.16667, -64.95)"
5,Adhi Kot,379,Valid,EH4,4239.0,Fell,01/01/1919 12:00:00 AM,32.10000,71.80000,"(32.1, 71.8)"
6,Adzhi-Bogdo (stone),390,Valid,LL3-6,910.0,Fell,01/01/1949 12:00:00 AM,44.83333,95.16667,"(44.83333, 95.16667)"
7,Agen,392,Valid,H5,30000.0,Fell,01/01/1814 12:00:00 AM,44.21667,0.61667,"(44.21667, 0.61667)"
8,Aguada,398,Valid,L6,1620.0,Fell,01/01/1930 12:00:00 AM,-31.60000,-65.23333,"(-31.6, -65.23333)"
9,Aguila Blanca,417,Valid,L,1440.0,Fell,01/01/1920 12:00:00 AM,-30.86667,-64.55000,"(-30.86667, -64.55)"
10,Aioun el Atrouss,423,Valid,Diogenite-pm,1000.0,Fell,01/01/1974 12:00:00 AM,16.39806,-9.57028,"(16.39806, -9.57028)"
11,AÃ¯r,424,Valid,L6,24000.0,Fell,01/01/1925 12:00:00 AM,19.08333,8.38333,"(19.08333, 8.38333)"
12,Aire-sur-la-Lys,425,Valid,Unknown,NaN,Fell,01/01/1769 12:00:00 AM,50.66667,2.33333,"(50.66667, 2.33333)"
13,Akaba,426,Valid,L6,779.0,Fell,01/01/1949 12:00:00 AM,29.51667,35.05000,"(29.51667, 35.05)"
14,Akbarpur,427,Valid,H4,1800.0,Fell,01/01/1838 12:00:00 AM,29.71667,77.95000,"(29.71667, 77.95)"
15,Akwanga,432,Valid,H,3000.0,Fell,01/01/1959 12:00:00 AM,8.91667,8.43333,"(8.91667, 8.43333)"
16,Akyumak,433,Valid,"Iron, IVA",50000.0,Fell,01/01/1981 12:00:00 AM,39.91667,42.81667,"(39.91667, 42.81667)"
17,Al Rais,446,Valid,CR2-an,160.0,Fell,01/01/1957 12:00:00 AM,24.41667,39.51667,"(24.41667, 39.51667)"
18,Al Zarnkh,447,Valid,LL5,700.0,Fell,01/01/2001 12:00:00 AM,13.66033,28.96000,"(13.66033, 28.96)"
19,Alais,448,Valid,CI1,6000.0,Fell,01/01/1806 12:00:00 AM,44.11667,4.08333,"(44.11667, 4.08333)"
20,Albareto,453,Valid,L/LL4,2000.0,Fell,01/01/1766 12:00:00 AM,44.65000,11.01667,"(44.65, 11.01667)"
21,Alberta,454,Valid,L,625.0,Fell,01/01/1949 12:00:00 AM,2.00000,22.66667,"(2.0, 22.66667)"
22,Alby sur ChÃ©ran,458,Valid,Eucrite-mmict,252.0,Fell,01/01/2002 12:00:00 AM,45.82133,6.01533,"(45.82133, 6.01533)"
23,Aldsworth,461,Valid,LL5,700.0,Fell,01/01/1835 12:00:00 AM,51.78333,-1.78333,"(51.78333, -1.78333)"
24,Aleppo,462,Valid,L6,3200.0,Fell,01/01/1873 12:00:00 AM,36.23333,37.13333,"(36.23333, 37.13333)"
25,Alessandria,463,Valid,H5,908.0,Fell,01/01/1860 12:00:00 AM,44.88333,8.75000,"(44.88333, 8.75)"
26,Alexandrovsky,465,Valid,H4,9251.0,Fell,01/01/1900 12:00:00 AM,50.95000,31.81667,"(50.95, 31.81667)"
27,Alfianello,466,Valid,L6,228000.0,Fell,01/01/1883 12:00:00 AM,45.26667,10.15000,"(45.26667, 10.15)"
28,Allegan,2276,Valid,H5,32000.0,Fell,01/01/1899 12:00:00 AM,42.53333,-85.88333,"(42.53333, -85.88333)"
29,Allende,2278,Valid,CV3,2000000.0,Fell,01/01/1969 12:00:00 AM,26.96667,-105.31667,"(26.96667, -105.31667)"
...,...,...,...,...,...,...,...,...,...,...
45686,Ysleta,30375,Valid,"Iron, ungrouped",140700.0,Found,01/01/1914 12:00:00 AM,31.65000,-106.18333,"(31.65, -106.18333)"
45687,Yucca 015,57175,Valid,H-metal,3.0,Found,01/01/2011 12:00:00 AM,34.81970,-114.27610,"(34.8197, -114.2761)"
45688,Yucca 016,57158,Valid,H5,25.9,Found,01/01/2011 12:00:00 AM,34.82658,-114.27763,"(34.82658, -114.27763)"
45689,Yucca 017,57159,Valid,H5,200.0,Found,01/01/2011 12:00:00 AM,34.81923,-114.27735,"(34.81923, -114.27735)"
45690,Yudoma,30376,Valid,"Iron, IVA",7600.0,Found,01/01/1946 12:00:00 AM,60.00000,140.00000,"(60.0, 140.0)"
45691,Zacatecas (1792),30381,Valid,"Iron, ungrouped",1000000.0,Found,01/01/1792 12:00:00 AM,22.81667,-102.56667,"(22.81667, -102.56667)"
45692,Zacatecas (1969),30382,Valid,"Iron, IIIAB",6660.0,Found,01/01/1969 12:00:00 AM,NaN,NaN,NaN
45693,Zaffra,30383,Valid,"Iron, IAB-MG",3000.0,Found,01/01/1919 12:00:00 AM,35.00000,-94.75000,"(35.0, -94.75)"
45694,Zag (b),30385,Valid,Winonaite,300.0,Found,01/01/1999 12:00:00 AM,27.33333,-9.33333,"(27.33333, -9.33333)"
45695,Zagora,30387,Valid,"Iron, IAB-ung",50000.0,Found,01/01/1987 12:00:00 AM,30.36667,-5.85000,"(30.36667, -5.85)"
45696,ZakÅodzie,30390,Valid,Enst achon-ung,8680.0,Found,01/01/1998 12:00:00 AM,50.76278,22.86611,"(50.76278, 22.86611)"
45697,Zapaliname,30392,Valid,"Iron, IAB-MG",85000.0,Found,01/01/1998 12:00:00 AM,25.00944,-100.75000,"(25.00944, -100.75)"
45698,Zapata County,30393,Valid,Iron,NaN,Found,01/01/1930 12:00:00 AM,27.00000,-99.00000,"(27.0, -99.0)"
45699,ZapotitlÃ¡n Salinas,30394,Valid,L4,27.7,Found,01/01/1984 12:00:00 AM,18.33333,-97.50000,"(18.33333, -97.5)"
45700,Zaragoza,48916,Valid,"Iron, IVA-an",162000.0,Found,NaN,41.65000,-0.86667,"(41.65, -0.86667)"
45701,Zegdou,30398,Valid,H3,6700.0,Found,01/01/1998 12:00:00 AM,29.75000,-4.50000,"(29.75, -4.5)"
45702,Zelfana,31353,Valid,L5,1058.0,Found,01/01/2002 12:00:00 AM,32.15833,4.63333,"(32.15833, 4.63333)"
45703,Zenda,30400,Valid,"Iron, IAB complex",3700.0,Found,01/01/1955 12:00:00 AM,42.51333,-88.48944,"(42.51333, -88.48944)"
45704,Zerga,30402,Valid,LL6,76.0,Found,01/01/1973 12:00:00 AM,20.25000,-12.68333,"(20.25, -12.68333)"
45705,Zerhamra,30403,Valid,"Iron, IIIAB-an",630000.0,Found,01/01/1967 12:00:00 AM,29.85861,-2.64500,"(29.85861, -2.645)"
45706,Zerkaly,31354,Valid,H5,16000.0,Found,01/01/1956 12:00:00 AM,52.13333,81.96667,"(52.13333, 81.96667)"
45707,Zhaoping,54609,Valid,"Iron, IAB complex",2000000.0,Found,01/01/1983 12:00:00 AM,24.23333,111.18333,"(24.23333, 111.18333)"
45708,Zhigansk,30405,Valid,"Iron, IIIAB",900000.0,Found,01/01/1966 12:00:00 AM,68.00000,128.30000,"(68.0, 128.3)"
45709,Zhongxiang,30406,Valid,Iron,100000.0,Found,01/01/1981 12:00:00 AM,31.20000,112.50000,"(31.2, 112.5)"
45710,Zillah 001,31355,Valid,L6,1475.0,Found,01/01/1990 12:00:00 AM,29.03700,17.01850,"(29.037, 17.0185)"
45711,Zillah 002,31356,Valid,Eucrite,172.0,Found,01/01/1990 12:00:00 AM,29.03700,17.01850,"(29.037, 17.0185)"
45712,Zinder,30409,Valid,"Pallasite, ungrouped",46.0,Found,01/01/1999 12:00:00 AM,13.78333,8.96667,"(13.78333, 8.96667)"
45713,Zlin,30410,Valid,H4,3.3,Found,01/01/1939 12:00:00 AM,49.25000,17.66667,"(49.25, 17.66667)"
45714,Zubkovsky,31357,Valid,L6,2167.0,Found,01/01/2003 12:00:00 AM,49.78917,41.50460,"(49.78917, 41.5046)"
45715,Zulu Queen,30414,Valid,L3.7,200.0,Found,01/01/1976 12:00:00 AM,33.98333,-115.68333,"(33.98333, -115.68333)"

In [16]:
#Se buscan los Null
np.sum(df_3.isnull())

name              0
id                0
nametype          0
recclass          0
mass (g)        131
fall              0
year            291
reclat         7315
reclong        7315
GeoLocation    7315
dtype: int64

In [18]:
df_3_nn = df_3.dropna(how = "any")
np.sum(df_3_nn.isnull())

name           0
id             0
nametype       0
recclass       0
mass (g)       0
fall           0
year           0
reclat         0
reclong        0
GeoLocation    0
dtype: int64

In [19]:
print("dimensiones con nulls =", df_3.shape)
print("dimensiones sin nulls =", df_3_nn.shape)

dimensiones con nulls = (45716, 10)
dimensiones sin nulls = (38115, 10)

In [50]:
 df_3_nn

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation
0,Aachen,1,Valid,L5,21.0,Fell,01/01/1880 12:00:00 AM,50.77500,6.08333,"(50.775, 6.08333)"
1,Aarhus,2,Valid,H6,720.0,Fell,01/01/1951 12:00:00 AM,56.18333,10.23333,"(56.18333, 10.23333)"
2,Abee,6,Valid,EH4,107000.0,Fell,01/01/1952 12:00:00 AM,54.21667,-113.00000,"(54.21667, -113.0)"
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,01/01/1976 12:00:00 AM,16.88333,-99.90000,"(16.88333, -99.9)"
4,Achiras,370,Valid,L6,780.0,Fell,01/01/1902 12:00:00 AM,-33.16667,-64.95000,"(-33.16667, -64.95)"
5,Adhi Kot,379,Valid,EH4,4239.0,Fell,01/01/1919 12:00:00 AM,32.10000,71.80000,"(32.1, 71.8)"
6,Adzhi-Bogdo (stone),390,Valid,LL3-6,910.0,Fell,01/01/1949 12:00:00 AM,44.83333,95.16667,"(44.83333, 95.16667)"
7,Agen,392,Valid,H5,30000.0,Fell,01/01/1814 12:00:00 AM,44.21667,0.61667,"(44.21667, 0.61667)"
8,Aguada,398,Valid,L6,1620.0,Fell,01/01/1930 12:00:00 AM,-31.60000,-65.23333,"(-31.6, -65.23333)"
9,Aguila Blanca,417,Valid,L,1440.0,Fell,01/01/1920 12:00:00 AM,-30.86667,-64.55000,"(-30.86667, -64.55)"
10,Aioun el Atrouss,423,Valid,Diogenite-pm,1000.0,Fell,01/01/1974 12:00:00 AM,16.39806,-9.57028,"(16.39806, -9.57028)"
11,AÃ¯r,424,Valid,L6,24000.0,Fell,01/01/1925 12:00:00 AM,19.08333,8.38333,"(19.08333, 8.38333)"
13,Akaba,426,Valid,L6,779.0,Fell,01/01/1949 12:00:00 AM,29.51667,35.05000,"(29.51667, 35.05)"
14,Akbarpur,427,Valid,H4,1800.0,Fell,01/01/1838 12:00:00 AM,29.71667,77.95000,"(29.71667, 77.95)"
15,Akwanga,432,Valid,H,3000.0,Fell,01/01/1959 12:00:00 AM,8.91667,8.43333,"(8.91667, 8.43333)"
16,Akyumak,433,Valid,"Iron, IVA",50000.0,Fell,01/01/1981 12:00:00 AM,39.91667,42.81667,"(39.91667, 42.81667)"
17,Al Rais,446,Valid,CR2-an,160.0,Fell,01/01/1957 12:00:00 AM,24.41667,39.51667,"(24.41667, 39.51667)"
18,Al Zarnkh,447,Valid,LL5,700.0,Fell,01/01/2001 12:00:00 AM,13.66033,28.96000,"(13.66033, 28.96)"
19,Alais,448,Valid,CI1,6000.0,Fell,01/01/1806 12:00:00 AM,44.11667,4.08333,"(44.11667, 4.08333)"
20,Albareto,453,Valid,L/LL4,2000.0,Fell,01/01/1766 12:00:00 AM,44.65000,11.01667,"(44.65, 11.01667)"
21,Alberta,454,Valid,L,625.0,Fell,01/01/1949 12:00:00 AM,2.00000,22.66667,"(2.0, 22.66667)"
22,Alby sur ChÃ©ran,458,Valid,Eucrite-mmict,252.0,Fell,01/01/2002 12:00:00 AM,45.82133,6.01533,"(45.82133, 6.01533)"
23,Aldsworth,461,Valid,LL5,700.0,Fell,01/01/1835 12:00:00 AM,51.78333,-1.78333,"(51.78333, -1.78333)"
24,Aleppo,462,Valid,L6,3200.0,Fell,01/01/1873 12:00:00 AM,36.23333,37.13333,"(36.23333, 37.13333)"
25,Alessandria,463,Valid,H5,908.0,Fell,01/01/1860 12:00:00 AM,44.88333,8.75000,"(44.88333, 8.75)"
26,Alexandrovsky,465,Valid,H4,9251.0,Fell,01/01/1900 12:00:00 AM,50.95000,31.81667,"(50.95, 31.81667)"
27,Alfianello,466,Valid,L6,228000.0,Fell,01/01/1883 12:00:00 AM,45.26667,10.15000,"(45.26667, 10.15)"
28,Allegan,2276,Valid,H5,32000.0,Fell,01/01/1899 12:00:00 AM,42.53333,-85.88333,"(42.53333, -85.88333)"
29,Allende,2278,Valid,CV3,2000000.0,Fell,01/01/1969 12:00:00 AM,26.96667,-105.31667,"(26.96667, -105.31667)"
30,Almahata Sitta,48915,Valid,Ureilite-an,3950.0,Fell,01/01/2008 12:00:00 AM,20.74575,32.41275,"(20.74575, 32.41275)"
...,...,...,...,...,...,...,...,...,...,...
45683,Youanmi,30373,Valid,"Iron, IIIAB",118400.0,Found,01/01/1917 12:00:00 AM,-29.50000,118.75000,"(-29.5, 118.75)"
45684,Youndegin,30374,Valid,"Iron, IAB-MG",3800000.0,Found,01/01/1884 12:00:00 AM,-32.10000,117.71667,"(-32.1, 117.71667)"
45685,Youxi,55793,Valid,Mesosiderite-C,218000.0,Found,01/01/2006 12:00:00 AM,26.06000,118.01000,"(26.06, 118.01)"
45686,Ysleta,30375,Valid,"Iron, ungrouped",140700.0,Found,01/01/1914 12:00:00 AM,31.65000,-106.18333,"(31.65, -106.18333)"
45687,Yucca 015,57175,Valid,H-metal,3.0,Found,01/01/2011 12:00:00 AM,34.81970,-114.27610,"(34.8197, -114.2761)"
45688,Yucca 016,57158,Valid,H5,25.9,Found,01/01/2011 12:00:00 AM,34.82658,-114.27763,"(34.82658, -114.27763)"
45689,Yucca 017,57159,Valid,H5,200.0,Found,01/01/2011 12:00:00 AM,34.81923,-114.27735,"(34.81923, -114.27735)"
45690,Yudoma,30376,Valid,"Iron, IVA",7600.0,Found,01/01/1946 12:00:00 AM,60.00000,140.00000,"(60.0, 140.0)"
45691,Zacatecas (1792),30381,Valid,"Iron, ungrouped",1000000.0,Found,01/01/1792 12:00:00 AM,22.81667,-102.56667,"(22.81667, -102.56667)"
45693,Zaffra,30383,Valid,"Iron, IAB-MG",3000.0,Found,01/01/1919 12:00:00 AM,35.00000,-94.75000,"(35.0, -94.75)"
45694,Zag (b),30385,Valid,Winonaite,300.0,Found,01/01/1999 12:00:00 AM,27.33333,-9.33333,"(27.33333, -9.33333)"
45695,Zagora,30387,Valid,"Iron, IAB-ung",50000.0,Found,01/01/1987 12:00:00 AM,30.36667,-5.85000,"(30.36667, -5.85)"
45696,ZakÅodzie,30390,Valid,Enst achon-ung,8680.0,Found,01/01/1998 12:00:00 AM,50.76278,22.86611,"(50.76278, 22.86611)"
45697,Zapaliname,30392,Valid,"Iron, IAB-MG",85000.0,Found,01/01/1998 12:00:00 AM,25.00944,-100.75000,"(25.00944, -100.75)"
45699,ZapotitlÃ¡n Salinas,30394,Valid,L4,27.7,Found,01/01/1984 12:00:00 AM,18.33333,-97.50000,"(18.33333, -97.5)"
45701,Zegdou,30398,Valid,H3,6700.0,Found,01/01/1998 12:00:00 AM,29.75000,-4.50000,"(29.75, -4.5)"
45702,Zelfana,31353,Valid,L5,1058.0,Found,01/01/2002 12:00:00 AM,32.15833,4.63333,"(32.15833, 4.63333)"
45703,Zenda,30400,Valid,"Iron, IAB complex",3700.0,Found,01/01/1955 12:00:00 AM,42.51333,-88.48944,"(42.51333, -88.48944)"
45704,Zerga,30402,Valid,LL6,76.0,Found,01/01/1973 12:00:00 AM,20.25000,-12.68333,"(20.25, -12.68333)"
45705,Zerhamra,30403,Valid,"Iron, IIIAB-an",630000.0,Found,01/01/1967 12:00:00 AM,29.85861,-2.64500,"(29.85861, -2.645)"
45706,Zerkaly,31354,Valid,H5,16000.0,Found,01/01/1956 12:00:00 AM,52.13333,81.96667,"(52.13333, 81.96667)"
45707,Zhaoping,54609,Valid,"Iron, IAB complex",2000000.0,Found,01/01/1983 12:00:00 AM,24.23333,111.18333,"(24.23333, 111.18333)"
45708,Zhigansk,30405,Valid,"Iron, IIIAB",900000.0,Found,01/01/1966 12:00:00 AM,68.00000,128.30000,"(68.0, 128.3)"
45709,Zhongxiang,30406,Valid,Iron,100000.0,Found,01/01/1981 12:00:00 AM,31.20000,112.50000,"(31.2, 112.5)"
45710,Zillah 001,31355,Valid,L6,1475.0,Found,01/01/1990 12:00:00 AM,29.03700,17.01850,"(29.037, 17.0185)"
45711,Zillah 002,31356,Valid,Eucrite,172.0,Found,01/01/1990 12:00:00 AM,29.03700,17.01850,"(29.037, 17.0185)"
45712,Zinder,30409,Valid,"Pallasite, ungrouped",46.0,Found,01/01/1999 12:00:00 AM,13.78333,8.96667,"(13.78333, 8.96667)"
45713,Zlin,30410,Valid,H4,3.3,Found,01/01/1939 12:00:00 AM,49.25000,17.66667,"(49.25, 17.66667)"
45714,Zubkovsky,31357,Valid,L6,2167.0,Found,01/01/2003 12:00:00 AM,49.78917,41.50460,"(49.78917, 41.5046)"
45715,Zulu Queen,30414,Valid,L3.7,200.0,Found,01/01/1976 12:00:00 AM,33.98333,-115.68333,"(33.98333, -115.68333)"

In [51]:
df_3_nn.columns

Index(['name', 'id', 'nametype', 'recclass', 'mass (g)', 'fall', 'year',
       'reclat', 'reclong', 'GeoLocation'],
      dtype='object')

In [ ]:
data_set["Platform"].value_counts()

### Near Earth Comets Orbital Elements

In [14]:
df_4 #Near-Earth_Comets_-_Orbital_Elements

,Object,Epoch (TDB),TP (TDB),e,i (deg),w (deg),Node (deg),q (AU),Q (AU),P (yr),MOID (AU),A1 (AU/d^2),A2 (AU/d^2),A3 (AU/d^2),DT (d),ref,Object_name
0,P/2004 R1 (McNaught),54629,2455248.548,0.682527,4.894556,0.626838,295.985450,0.986192,5.23,5.48,0.027011,NaN,NaN,NaN,NaN,20,P/2004 R1 (McNaught)
1,P/2008 S1 (Catalina-McNaught),55101,2454741.329,0.666313,15.100746,203.649023,111.392003,1.190642,5.95,6.74,0.194101,NaN,NaN,NaN,NaN,13,P/2008 S1 (Catalina-McNaught)
2,1P/Halley,49400,2446467.395,0.967143,162.262691,111.332485,58.420081,0.585978,35.08,75.32,0.063782,2.700000e-10,1.550000e-10,NaN,NaN,J863/77,1P/Halley
3,2P/Encke,56870,2456618.204,0.848268,11.779995,186.540346,334.569806,0.336092,4.09,3.30,0.173092,1.580000e-10,-5.050000e-12,NaN,NaN,74,2P/Encke
4,3D/Biela,-9480,2390514.115,0.751299,13.216400,221.658800,250.669000,0.879073,6.19,6.65,0.000518,3.900000e-09,-2.540000e-10,NaN,NaN,IAUCAT03,3D/Biela
5,5D/Brorsen,7440,2407439.534,0.809796,29.382100,14.946800,102.967600,0.589847,5.61,5.46,0.366559,1.270000e-08,1.340000e-09,NaN,NaN,IAUCAT03,5D/Brorsen
6,7P/Pons-Winnecke,56981,2457053.028,0.637528,22.335015,172.506161,93.416327,1.239215,5.60,6.32,0.224191,7.860000e-11,-1.150000e-11,-1.530000e-10,131.00,K088/14,7P/Pons-Winnecke
7,8P/Tuttle,54374,2454492.526,0.819800,54.983185,207.509246,270.341652,1.027117,10.37,13.61,0.095310,6.890000e-10,1.370000e-10,-4.590000e-10,NaN,K074/27,8P/Tuttle
8,12P/Pons-Brooks,35000,2434885.381,0.954812,74.176894,199.028469,255.891144,0.773667,33.47,70.85,0.187300,-1.020000e-09,-2.710000e-10,NaN,NaN,15,12P/Pons-Brooks
9,13P/Olbers,35760,2435643.635,0.930297,44.609886,64.641207,86.103128,1.178451,32.64,69.52,0.477199,9.450000e-09,6.490000e-10,NaN,NaN,10,13P/Olbers
10,15P/Finlay,57003,2457018.557,0.720184,6.798913,347.552839,13.778147,0.975901,6.00,6.51,0.009433,4.080000e-09,6.650000e-11,NaN,NaN,K085/14,15P/Finlay
11,18D/Perrine-Mrkos,40240,2440162.042,0.642581,17.758983,166.050417,240.875547,1.272248,5.85,6.72,0.289230,NaN,NaN,NaN,NaN,J682/18,18D/Perrine-Mrkos
12,20D/Westphal,20080,2420098.290,0.919831,40.890061,57.080955,348.006447,1.254013,30.03,61.87,0.468283,NaN,NaN,NaN,NaN,19,20D/Westphal
13,21P/Giacobini-Zinner,56498,2455969.126,0.706818,31.908101,172.584425,195.397015,1.030696,6.00,6.59,0.035395,3.350000e-09,-4.290000e-10,-9.570000e-10,-32.80,K123/6,21P/Giacobini-Zinner
14,23P/Brorsen-Metcalf,47800,2447781.437,0.971952,19.333940,129.610684,311.585462,0.478753,33.66,70.52,0.193872,2.250000e-09,-5.330000e-10,NaN,NaN,13,23P/Brorsen-Metcalf
15,24P/Schaumasse,52120,2452032.161,0.704800,11.751530,57.874493,79.831038,1.205010,6.96,8.25,0.282180,1.100000e-09,-5.860000e-10,NaN,NaN,K014/19,24P/Schaumasse
16,26P/Grigg-Skjellerup,56978,2456479.559,0.640277,22.428894,2.146692,211.537555,1.085248,4.95,5.24,0.079476,1.130000e-10,-1.050000e-11,NaN,NaN,K139/6,26P/Grigg-Skjellerup
17,27P/Crommelin,56364,2455777.391,0.918981,28.966873,196.025397,250.626410,0.748287,17.72,28.07,0.215189,-3.650000e-08,-1.710000e-09,2.080000e-09,NaN,K113/4,27P/Crommelin
18,41P/Tuttle-Giacobini-Kresak,53821,2453898.291,0.660413,9.228028,62.193219,141.092931,1.047778,5.12,5.42,0.135384,1.350000e-08,3.310000e-09,NaN,NaN,K064/9,41P/Tuttle-Giacobini-Kresak
19,45P/Honda-Mrkos-Pajdusakova,56060,2455833.282,0.824672,4.252433,326.258040,89.002181,0.529761,5.51,5.25,0.060071,3.880000e-09,4.330000e-10,NaN,NaN,K112/2,45P/Honda-Mrkos-Pajdusakova
20,46P/Wirtanen,56799,2456482.869,0.659203,11.757139,356.340205,82.164391,1.052262,5.12,5.43,0.068212,2.820000e-09,-1.360000e-09,6.650000e-10,-3.73,K073/17,46P/Wirtanen
21,55P/Tempel-Tuttle,51040,2450872.598,0.905553,162.486575,172.500274,235.270989,0.976428,19.70,33.24,0.008481,1.580000e-09,9.190000e-11,NaN,NaN,J985/69,55P/Tempel-Tuttle
22,66P/du Toit,52920,2452879.492,0.787701,18.700736,257.249719,22.215365,1.274267,10.73,14.71,0.430358,-3.770000e-10,-1.100000e-10,NaN,NaN,48,66P/du Toit
23,67P/Churyumov-Gerasimenko,56981,2457247.572,0.640974,7.040201,12.785606,50.142110,1.243242,5.68,6.44,0.257189,1.090000e-09,1.070000e-10,1.960000e-10,NaN,K084/21,67P/Churyumov-Gerasimenko
24,72P/Denning-Fujikawa,56981,2456850.137,0.819155,9.169284,337.858042,36.109196,0.784161,7.89,9.03,0.085253,NaN,NaN,NaN,NaN,21,72P/Denning-Fujikawa
25,73P/Schwassmann-Wachmann 3,50080,2449983.390,0.694827,11.423488,198.769979,69.946342,0.932771,5.18,5.34,0.045198,6.870000e-09,4.900000e-10,NaN,NaN,J954/19,73P/Schwassmann-Wachmann 3
26,73P/Schwassmann-Wachmann 3-B,53880,2453894.424,0.693286,11.396952,198.799453,69.892477,0.939111,5.18,5.36,0.040710,1.490000e-08,1.960000e-09,NaN,NaN,K061/24,73P/Schwassmann-Wachmann 3-B
27,73P/Schwassmann-Wachmann 3-C,55980,2455851.400,0.692226,11.379157,198.870591,69.843217,0.942857,5.18,5.36,0.038373,6.540000e-09,4.830000e-10,NaN,-12.20,K114/1,73P/Schwassmann-Wachmann 3-C
28,73P/Schwassmann-Wachmann 3-E,51920,2451937.953,0.693877,11.405621,198.773244,69.917104,0.937437,5.19,5.36,0.041033,1.720000e-08,5.810000e-09,NaN,NaN,K013/11,73P/Schwassmann-Wachmann 3-E
29,73P/Schwassmann-Wachmann 3-G,53839,2453894.596,0.693413,11.389562,198.774601,69.908400,0.939184,5.19,5.36,0.040540,NaN,NaN,NaN,NaN,19,73P/Schwassmann-Wachmann 3-G
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,D/1978 R1 (Haneda-Campos),43773,2443790.992,0.665232,5.947330,240.462219,132.253514,1.101418,5.48,5.97,0.134920,NaN,NaN,NaN,NaN,7,D/1978 R1 (Haneda-Campos)
131,C/1991 L3 (Levy),48547,2448445.695,0.928818,19.190310,41.471198,329.430984,0.982559,26.62,51.28,0.074988,NaN,NaN,NaN,NaN,9,C/1991 L3 (Levy)
132,P/1999 J6 (SOHO),53580,2453318.081,0.984177,26.613142,21.976803,81.613782,0.049058,6.15,5.46,0.010175,3.950000e-07,-1.890000e-09,NaN,NaN,6,P/1999 J6 (SOHO)
133,P/1999 R1 (SOHO),53089,2452891.317,0.977409,13.676229,43.689723,4.932375,0.057013,4.99,4.01,0.076579,NaN,NaN,NaN,NaN,3,P/1999 R1 (SOHO)
134,P/1999 RO28 (LONEOS),51441,2451453.843,0.650787,8.191042,219.858826,148.450296,1.231759,5.82,6.62,0.247638,NaN,NaN,NaN,NaN,15,P/1999 RO28 (LONEOS)
135,C/1999 X3 (SOHO),53074,2453076.829,0.981640,6.337569,353.734133,323.490768,0.047951,5.18,4.22,0.031348,NaN,NaN,NaN,NaN,5,C/1999 X3 (SOHO)
136,C/2001 OG108 (LONEOS),52248,2452348.706,0.925259,80.245055,116.419512,10.555296,0.994048,25.61,48.50,0.300836,NaN,NaN,NaN,NaN,40,C/2001 OG108 (LONEOS)
137,C/2001 W2 (BATTERS),52249,2452267.418,0.941373,115.913090,142.085757,113.355897,1.051065,34.81,75.91,0.145327,NaN,NaN,NaN,NaN,22,C/2001 W2 (BATTERS)
138,C/2002 R5 (SOHO),53575,2452522.684,0.985261,14.120629,45.723799,13.214215,0.047402,6.38,5.77,0.094044,NaN,NaN,NaN,NaN,3,C/2002 R5 (SOHO)
139,P/2002 S7 (SOHO),53592,2452538.404,0.984862,13.574975,52.154945,50.195768,0.048799,6.40,5.79,0.114603,NaN,NaN,NaN,NaN,3,P/2002 S7 (SOHO)
140,P/2003 T12 (SOHO),55968,2455952.953,0.776422,11.475808,217.677388,176.465099,0.574840,4.57,4.12,0.154232,NaN,NaN,NaN,NaN,5,P/2003 T12 (SOHO)
141,P/2005 T4 (SWAN),53667,2453654.037,0.930297,160.036180,41.443534,25.422288,0.649399,17.98,28.44,0.157261,NaN,NaN,NaN,NaN,6,P/2005 T4 (SWAN)
142,P/2005 W4 (SOHO),54203,2453697.986,0.982268,14.596276,49.400006,53.004871,0.053980,6.03,5.31,0.107655,NaN,-7.460000e-11,NaN,NaN,2,P/2005 W4 (SOHO)
143,P/2006 HR30 (Siding Spring),54046,2454102.782,0.843118,31.884499,117.413875,309.952163,1.226428,14.41,21.86,0.452907,NaN,NaN,NaN,NaN,87,P/2006 HR30 (Siding Spring)
144,P/2007 T2 (Kowalski),54417,2454362.521,0.774834,9.895276,358.551572,3.994966,0.695863,5.49,5.43,0.156276,NaN,NaN,NaN,NaN,17,P/2007 T2 (Kowalski)
145,P/2008 Y1 (Boattini),54846,2454887.597,0.734882,8.805149,162.364834,259.709684,1.271980,8.32,10.51,0.289617,NaN,NaN,NaN,NaN,13,P/2008 Y1 (Boattini)
146,P/2008 Y12 (SOHO),55476,2454822.977,0.978750,23.345623,146.614161,312.552591,0.065414,6.09,5.40,0.044832,NaN,NaN,NaN,NaN,4,P/2008 Y12 (SOHO)
147,P/2009 L2 (Yang-Gao),55023,2454973.255,0.620930,16.158514,346.954318,259.304757,1.296126,5.54,6.32,0.287493,NaN,NaN,NaN,NaN,20,P/2009 L2 (Yang-Gao)
148,P/2009 WX51 (Catalina),55175,2455227.575,0.740297,9.592586,118.016389,31.758267,0.799956,5.36,5.41,0.009227,NaN,NaN,NaN,NaN,19,P/2009 WX51 (Catalina)
149,C/2010 L5 (WISE),55379,2455309.645,0.903756,147.051681,214.729745,206.473099,0.790901,15.64,23.56,0.113609,NaN,NaN,NaN,NaN,6,C/2010 L5 (WISE)
150,P/2011 NO1 (Elenin),55758,2455582.092,0.776521,15.272338,263.616967,296.096460,1.242926,9.88,13.12,0.380652,NaN,NaN,NaN,NaN,8,P/2011 NO1 (Elenin)
151,C/2011 S2 (Kowalski),55857,2455860.848,0.931604,17.572530,192.189946,288.070110,1.115118,31.49,65.83,0.137790,NaN,NaN,NaN,NaN,16,C/2011 S2 (Kowalski)
152,P/2012 NJ (La Sagra),56158,2456091.590,0.848062,84.375459,338.413916,315.763184,1.291890,15.71,24.79,0.315258,NaN,NaN,NaN,NaN,31,P/2012 NJ (La Sagra)
153,P/2013 CU129 (PANSTARRS),56475,2456511.432,0.722105,12.147632,211.972272,46.209800,0.800148,4.96,4.89,0.085523,NaN,NaN,NaN,NaN,38,P/2013 CU129 (PANSTARRS)
154,P/2013 TL117 (Lemmon),56674,2456706.719,0.689914,9.365636,112.199132,3.362022,1.117672,6.09,6.84,0.201620,NaN,NaN,NaN,NaN,45,P/2013 TL117 (Lemmon)
155,P/2014 U2 (Kowalski),56974,2456937.650,0.602949,7.495593,35.252210,356.180679,1.164298,4.70,5.02,0.183671,NaN,NaN,NaN,NaN,10,P/2014 U2 (Kowalski)
156,P/2015 A3 (PANSTARRS),57040,2457076.250,0.848168,172.513745,249.508614,277.082142,1.153857,14.05,20.95,0.204591,NaN,NaN,NaN,NaN,1,P/2015 A3 (PANSTARRS)
157,C/2015 D1 (SOHO),57073,2457073.248,0.994268,69.616289,234.953017,95.881385,0.028321,9.85,10.98,0.515916,1.250000e-06,NaN,NaN,NaN,3,C/2015 D1 (SOHO)
158,C/2015 F2 (Polonia),57110,2457141.343,0.962399,28.661030,352.058758,262.481614,1.209544,63.13,182.45,0.198704,NaN,NaN,NaN,NaN,6,C/2015 F2 (Polonia)
159,C/2015 F5 (SWAN-Xingming),57124,2457109.599,0.977734,149.256945,13.392330,287.739024,0.346005,30.73,61.26,0.441413,NaN,NaN,NaN,NaN,2,C/2015 F5 (SWAN-Xingming)

In [17]:
#Se buscan los Null
np.sum(df_4.isnull())

Object           0
Epoch (TDB)      0
TP (TDB)         0
e                0
i (deg)          0
w (deg)          0
Node (deg)       0
q (AU)           0
Q (AU)           0
P (yr)           0
MOID (AU)        0
A1 (AU/d^2)    122
A2 (AU/d^2)    119
A3 (AU/d^2)    150
DT (d)         156
ref              0
Object_name      0
dtype: int64