# Space Apps Challenge 2019

# Planets Near and Far

## Chasers of the Lost Data
##### https://2019.spaceappschallenge.org/challenges/planets-near-and-far/raiders-lost-data/details

## Group: ARCADE GT
### Project: SPACE DS
### Data Set: Meteorite Landings

##### https://2019.spaceappschallenge.org/challenges/planets-near-and-far/raiders-lost-data/teams/arcade-gt/project

In [1]:
import os
from sklearn.impute import SimpleImputer
import impyute as impy
import numpy as np, pandas as pd, tensorflow as tf, matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RandomizedSearchCV
from keras.models import Sequential
from keras.layers import Dense, BatchNormalization
from keras.optimizers import Adam
from keras.utils import to_categorical
from keras.callbacks import EarlyStopping, ModelCheckpoint
from keras.wrappers.scikit_learn import KerasClassifier
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from keras.models import load_model

Using TensorFlow backend.

In [2]:
df_3 = pd.read_csv("NASA/Meteorite_Landings.csv", encoding = "latin-1") #Load the Data

##### *First Step: See the data*

In [3]:
df_3 #Fireball_And_Bolide_Reports

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation
0,Aachen,1,Valid,L5,21.0,Fell,01/01/1880 12:00:00 AM,50.77500,6.08333,"(50.775, 6.08333)"
1,Aarhus,2,Valid,H6,720.0,Fell,01/01/1951 12:00:00 AM,56.18333,10.23333,"(56.18333, 10.23333)"
2,Abee,6,Valid,EH4,107000.0,Fell,01/01/1952 12:00:00 AM,54.21667,-113.00000,"(54.21667, -113.0)"
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,01/01/1976 12:00:00 AM,16.88333,-99.90000,"(16.88333, -99.9)"
4,Achiras,370,Valid,L6,780.0,Fell,01/01/1902 12:00:00 AM,-33.16667,-64.95000,"(-33.16667, -64.95)"
5,Adhi Kot,379,Valid,EH4,4239.0,Fell,01/01/1919 12:00:00 AM,32.10000,71.80000,"(32.1, 71.8)"
6,Adzhi-Bogdo (stone),390,Valid,LL3-6,910.0,Fell,01/01/1949 12:00:00 AM,44.83333,95.16667,"(44.83333, 95.16667)"
7,Agen,392,Valid,H5,30000.0,Fell,01/01/1814 12:00:00 AM,44.21667,0.61667,"(44.21667, 0.61667)"
8,Aguada,398,Valid,L6,1620.0,Fell,01/01/1930 12:00:00 AM,-31.60000,-65.23333,"(-31.6, -65.23333)"
9,Aguila Blanca,417,Valid,L,1440.0,Fell,01/01/1920 12:00:00 AM,-30.86667,-64.55000,"(-30.86667, -64.55)"
10,Aioun el Atrouss,423,Valid,Diogenite-pm,1000.0,Fell,01/01/1974 12:00:00 AM,16.39806,-9.57028,"(16.39806, -9.57028)"
11,AÃ¯r,424,Valid,L6,24000.0,Fell,01/01/1925 12:00:00 AM,19.08333,8.38333,"(19.08333, 8.38333)"
12,Aire-sur-la-Lys,425,Valid,Unknown,NaN,Fell,01/01/1769 12:00:00 AM,50.66667,2.33333,"(50.66667, 2.33333)"
13,Akaba,426,Valid,L6,779.0,Fell,01/01/1949 12:00:00 AM,29.51667,35.05000,"(29.51667, 35.05)"
14,Akbarpur,427,Valid,H4,1800.0,Fell,01/01/1838 12:00:00 AM,29.71667,77.95000,"(29.71667, 77.95)"
15,Akwanga,432,Valid,H,3000.0,Fell,01/01/1959 12:00:00 AM,8.91667,8.43333,"(8.91667, 8.43333)"
16,Akyumak,433,Valid,"Iron, IVA",50000.0,Fell,01/01/1981 12:00:00 AM,39.91667,42.81667,"(39.91667, 42.81667)"
17,Al Rais,446,Valid,CR2-an,160.0,Fell,01/01/1957 12:00:00 AM,24.41667,39.51667,"(24.41667, 39.51667)"
18,Al Zarnkh,447,Valid,LL5,700.0,Fell,01/01/2001 12:00:00 AM,13.66033,28.96000,"(13.66033, 28.96)"
19,Alais,448,Valid,CI1,6000.0,Fell,01/01/1806 12:00:00 AM,44.11667,4.08333,"(44.11667, 4.08333)"
20,Albareto,453,Valid,L/LL4,2000.0,Fell,01/01/1766 12:00:00 AM,44.65000,11.01667,"(44.65, 11.01667)"
21,Alberta,454,Valid,L,625.0,Fell,01/01/1949 12:00:00 AM,2.00000,22.66667,"(2.0, 22.66667)"
22,Alby sur ChÃ©ran,458,Valid,Eucrite-mmict,252.0,Fell,01/01/2002 12:00:00 AM,45.82133,6.01533,"(45.82133, 6.01533)"
23,Aldsworth,461,Valid,LL5,700.0,Fell,01/01/1835 12:00:00 AM,51.78333,-1.78333,"(51.78333, -1.78333)"
24,Aleppo,462,Valid,L6,3200.0,Fell,01/01/1873 12:00:00 AM,36.23333,37.13333,"(36.23333, 37.13333)"
25,Alessandria,463,Valid,H5,908.0,Fell,01/01/1860 12:00:00 AM,44.88333,8.75000,"(44.88333, 8.75)"
26,Alexandrovsky,465,Valid,H4,9251.0,Fell,01/01/1900 12:00:00 AM,50.95000,31.81667,"(50.95, 31.81667)"
27,Alfianello,466,Valid,L6,228000.0,Fell,01/01/1883 12:00:00 AM,45.26667,10.15000,"(45.26667, 10.15)"
28,Allegan,2276,Valid,H5,32000.0,Fell,01/01/1899 12:00:00 AM,42.53333,-85.88333,"(42.53333, -85.88333)"
29,Allende,2278,Valid,CV3,2000000.0,Fell,01/01/1969 12:00:00 AM,26.96667,-105.31667,"(26.96667, -105.31667)"
...,...,...,...,...,...,...,...,...,...,...
45686,Ysleta,30375,Valid,"Iron, ungrouped",140700.0,Found,01/01/1914 12:00:00 AM,31.65000,-106.18333,"(31.65, -106.18333)"
45687,Yucca 015,57175,Valid,H-metal,3.0,Found,01/01/2011 12:00:00 AM,34.81970,-114.27610,"(34.8197, -114.2761)"
45688,Yucca 016,57158,Valid,H5,25.9,Found,01/01/2011 12:00:00 AM,34.82658,-114.27763,"(34.82658, -114.27763)"
45689,Yucca 017,57159,Valid,H5,200.0,Found,01/01/2011 12:00:00 AM,34.81923,-114.27735,"(34.81923, -114.27735)"
45690,Yudoma,30376,Valid,"Iron, IVA",7600.0,Found,01/01/1946 12:00:00 AM,60.00000,140.00000,"(60.0, 140.0)"
45691,Zacatecas (1792),30381,Valid,"Iron, ungrouped",1000000.0,Found,01/01/1792 12:00:00 AM,22.81667,-102.56667,"(22.81667, -102.56667)"
45692,Zacatecas (1969),30382,Valid,"Iron, IIIAB",6660.0,Found,01/01/1969 12:00:00 AM,NaN,NaN,NaN
45693,Zaffra,30383,Valid,"Iron, IAB-MG",3000.0,Found,01/01/1919 12:00:00 AM,35.00000,-94.75000,"(35.0, -94.75)"
45694,Zag (b),30385,Valid,Winonaite,300.0,Found,01/01/1999 12:00:00 AM,27.33333,-9.33333,"(27.33333, -9.33333)"
45695,Zagora,30387,Valid,"Iron, IAB-ung",50000.0,Found,01/01/1987 12:00:00 AM,30.36667,-5.85000,"(30.36667, -5.85)"
45696,ZakÅodzie,30390,Valid,Enst achon-ung,8680.0,Found,01/01/1998 12:00:00 AM,50.76278,22.86611,"(50.76278, 22.86611)"
45697,Zapaliname,30392,Valid,"Iron, IAB-MG",85000.0,Found,01/01/1998 12:00:00 AM,25.00944,-100.75000,"(25.00944, -100.75)"
45698,Zapata County,30393,Valid,Iron,NaN,Found,01/01/1930 12:00:00 AM,27.00000,-99.00000,"(27.0, -99.0)"
45699,ZapotitlÃ¡n Salinas,30394,Valid,L4,27.7,Found,01/01/1984 12:00:00 AM,18.33333,-97.50000,"(18.33333, -97.5)"
45700,Zaragoza,48916,Valid,"Iron, IVA-an",162000.0,Found,NaN,41.65000,-0.86667,"(41.65, -0.86667)"
45701,Zegdou,30398,Valid,H3,6700.0,Found,01/01/1998 12:00:00 AM,29.75000,-4.50000,"(29.75, -4.5)"
45702,Zelfana,31353,Valid,L5,1058.0,Found,01/01/2002 12:00:00 AM,32.15833,4.63333,"(32.15833, 4.63333)"
45703,Zenda,30400,Valid,"Iron, IAB complex",3700.0,Found,01/01/1955 12:00:00 AM,42.51333,-88.48944,"(42.51333, -88.48944)"
45704,Zerga,30402,Valid,LL6,76.0,Found,01/01/1973 12:00:00 AM,20.25000,-12.68333,"(20.25, -12.68333)"
45705,Zerhamra,30403,Valid,"Iron, IIIAB-an",630000.0,Found,01/01/1967 12:00:00 AM,29.85861,-2.64500,"(29.85861, -2.645)"
45706,Zerkaly,31354,Valid,H5,16000.0,Found,01/01/1956 12:00:00 AM,52.13333,81.96667,"(52.13333, 81.96667)"
45707,Zhaoping,54609,Valid,"Iron, IAB complex",2000000.0,Found,01/01/1983 12:00:00 AM,24.23333,111.18333,"(24.23333, 111.18333)"
45708,Zhigansk,30405,Valid,"Iron, IIIAB",900000.0,Found,01/01/1966 12:00:00 AM,68.00000,128.30000,"(68.0, 128.3)"
45709,Zhongxiang,30406,Valid,Iron,100000.0,Found,01/01/1981 12:00:00 AM,31.20000,112.50000,"(31.2, 112.5)"
45710,Zillah 001,31355,Valid,L6,1475.0,Found,01/01/1990 12:00:00 AM,29.03700,17.01850,"(29.037, 17.0185)"
45711,Zillah 002,31356,Valid,Eucrite,172.0,Found,01/01/1990 12:00:00 AM,29.03700,17.01850,"(29.037, 17.0185)"
45712,Zinder,30409,Valid,"Pallasite, ungrouped",46.0,Found,01/01/1999 12:00:00 AM,13.78333,8.96667,"(13.78333, 8.96667)"
45713,Zlin,30410,Valid,H4,3.3,Found,01/01/1939 12:00:00 AM,49.25000,17.66667,"(49.25, 17.66667)"
45714,Zubkovsky,31357,Valid,L6,2167.0,Found,01/01/2003 12:00:00 AM,49.78917,41.50460,"(49.78917, 41.5046)"
45715,Zulu Queen,30414,Valid,L3.7,200.0,Found,01/01/1976 12:00:00 AM,33.98333,-115.68333,"(33.98333, -115.68333)"

In [4]:
#Search Null
np.sum(df_3.isnull())

name              0
id                0
nametype          0
recclass          0
mass (g)        131
fall              0
year            291
reclat         7315
reclong        7315
GeoLocation    7315
dtype: int64

In [5]:
df_3_nn = df_3.dropna(how = "any")
np.sum(df_3_nn.isnull())

name           0
id             0
nametype       0
recclass       0
mass (g)       0
fall           0
year           0
reclat         0
reclong        0
GeoLocation    0
dtype: int64

##### *Second Step: Clean the data*

In [6]:
print("dimensiones con nulls =", df_3.shape)
print("dimensiones sin nulls =", df_3_nn.shape)

dimensiones con nulls = (45716, 10)
dimensiones sin nulls = (38115, 10)

###### Delete unnecesary columns

In [8]:
df_3_nn.columns

Index(['name', 'id', 'nametype', 'recclass', 'mass (g)', 'fall', 'year',
       'reclat', 'reclong', 'GeoLocation'],
      dtype='object')

In [9]:
del df_3_nn['name']
del df_3_nn['id']
del df_3_nn['nametype']

In [13]:
data_y = df_3_nn["mass (g)"]
data_y.shape

(38115,)

***
### Categorical Data

* recclass
* fall
* year
* GeoLocation

#### One Hot Encoding GeoLocation

In [14]:
print(df_3_nn['GeoLocation'].value_counts())

(0.0, 0.0)                6186
(-71.5, 35.66667)         4760
(-84.0, 168.0)            3040
(-72.0, 26.0)             1505
(-79.68333, 159.75)        657
                          ...
(-85.16782, -94.72788)       1
(34.6, 116.75)               1
(-72.98917, 160.405)         1
(19.11067, 54.81633)         1
(34.00056, -115.72972)       1
Name: GeoLocation, Length: 16907, dtype: int64

In [15]:
df_3_nn['GeoLocation'] = pd.Categorical(df_3_nn['GeoLocation'])
df_3_nn['GeoLocation'] = df_3_nn['GeoLocation'].cat.codes 
data_encoded_GeoLocation = to_categorical(df_3_nn['GeoLocation'])
data_encoded_GeoLocation.shape

C:\Users\Jose\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Jose\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

(38115, 16907)

#### One Hot Encoding year

In [16]:
print(df_3_nn['year'].value_counts())

01/01/1979 12:00:00 AM    3045
01/01/1988 12:00:00 AM    2295
01/01/1998 12:00:00 AM    2147
01/01/2003 12:00:00 AM    1754
01/01/2006 12:00:00 AM    1616
                          ...
12/28/0860 12:00:00 AM       1
01/01/1751 12:00:00 AM       1
01/01/1797 12:00:00 AM       1
12/23/1490 12:00:00 AM       1
01/01/1809 12:00:00 AM       1
Name: year, Length: 253, dtype: int64

In [17]:
df_3_nn['year'] = pd.Categorical(df_3_nn['year'])
df_3_nn['year'] = df_3_nn['year'].cat.codes 
data_encoded_year = to_categorical(df_3_nn['year'])
data_encoded_year.shape

C:\Users\Jose\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Jose\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

(38115, 253)

#### One Hot Encoding recclass

In [18]:
print(df_3_nn['recclass'].value_counts())

L6                       7519
H5                       6243
H6                       3898
H4                       3880
L5                       3264
                         ...
Acapulcoite/lodranite       1
L5-7                        1
H3.7-6                      1
H(L)3                       1
L(LL)3.5-3.7                1
Name: recclass, Length: 422, dtype: int64

In [19]:
df_3_nn['recclass'] = pd.Categorical(df_3_nn['recclass'])
df_3_nn['recclass'] = df_3_nn['recclass'].cat.codes 
data_encoded_recclass = to_categorical(df_3_nn['recclass'])
data_encoded_recclass.shape

C:\Users\Jose\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Jose\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

(38115, 422)

In [20]:
#### One Hot Encoding fall

In [21]:
print(df_3_nn['fall'].value_counts())

Found    37050
Fell      1065
Name: fall, dtype: int64

In [22]:
df_3_nn['fall'] = pd.Categorical(df_3_nn['fall'])
df_3_nn['fall'] = df_3_nn['fall'].cat.codes 
data_encoded_fall = to_categorical(df_3_nn['fall'])
data_encoded_fall.shape

C:\Users\Jose\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Jose\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

(38115, 2)

In [23]:
data_encoded_fall

array([[1., 0.],
       [1., 0.],
       [1., 0.],
       ...,
       [0., 1.],
       [0., 1.],
       [0., 1.]], dtype=float32)

##### Prepare data

In [24]:
col_name = df_3_nn.columns
col_name

Index(['recclass', 'mass (g)', 'fall', 'year', 'reclat', 'reclong',
       'GeoLocation'],
      dtype='object')

In [49]:
col_x = col_name.drop(['fall','recclass', "year",'GeoLocation', 'mass (g)'])
col_x

Index(['reclat', 'reclong'], dtype='object')

In [50]:
data_x = df_3_nn[col_x]
data_x.shape

(38115, 2)

In [46]:
data_x = pd.concat([data_x, pd.DataFrame(data_encoded_fall, columns = ["Found", "Fell"])], axis=1)
data_x.shape

(45213, 4)

In [51]:
data_x.head()

     reclat    reclong
0  50.77500    6.08333
1  56.18333   10.23333
2  54.21667 -113.00000
3  16.88333  -99.90000
4 -33.16667  -64.95000

In [60]:
x_train, x_test, y_train, y_test = train_test_split(data_x, data_y, test_size = 0.1, random_state = 0)

### Build the Model with Multilayer Perceptron

In [61]:
model_1 = Sequential()
model_1.add(Dense(128, input_shape = (2, ), activation = "relu"))
model_1.add(Dense(64, activation = "relu"))
model_1.add(Dense(32, activation = "relu"))
model_1.add(Dense(1, activation = "softmax"))
model_1.compile(loss = "binary_crossentropy", optimizer = "adam", metrics = ["accuracy"])
model_1.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_21 (Dense)             (None, 128)               384
_________________________________________________________________
dense_22 (Dense)             (None, 64)                8256
_________________________________________________________________
dense_23 (Dense)             (None, 32)                2080
_________________________________________________________________
dense_24 (Dense)             (None, 1)                 33
=================================================================
Total params: 10,753
Trainable params: 10,753
Non-trainable params: 0
_________________________________________________________________

In [62]:
monitor_val_acc_1 = EarlyStopping(monitor = "val_acc", patience = 3)
modelCheckpoint_1 = ModelCheckpoint("beer_batch_128.hdf5", save_best_only = True)

history_1 = model_1.fit(x_train, y_train, epochs = 100, batch_size = 128, validation_split = 0.1, callbacks = [monitor_val_acc_1, modelCheckpoint_1])
accuracy_1 = model_1.evaluate(x_test, y_test)[1]
print('Accuracy:', accuracy_1)

Train on 30872 samples, validate on 3431 samples
Epoch 1/100
30872/30872 [==============================] - 3s 83us/step - loss: -247197.4848 - acc: 0.0022 - val_loss: -106066.3523 - val_acc: 0.0023
Epoch 2/100
30872/30872 [==============================] - 1s 23us/step - loss: -247197.4781 - acc: 0.0022 - val_loss: -106066.3523 - val_acc: 0.0023
Epoch 3/100
30872/30872 [==============================] - 1s 23us/step - loss: -247197.4920 - acc: 0.0022 - val_loss: -106066.3523 - val_acc: 0.0023
Epoch 4/100
30872/30872 [==============================] - 1s 23us/step - loss: -247197.4866 - acc: 0.0022 - val_loss: -106066.3523 - val_acc: 0.0023
3812/3812 [==============================] - 0s 31us/step
Accuracy: 0.0018363064008394543

In [63]:
monitor_val_acc_2 = EarlyStopping(monitor = "val_acc", patience = 3)
modelCheckpoint_2 = ModelCheckpoint("beer_no_batch.hdf5", save_best_only = True)

history_2 = model_1.fit(x_train, y_train, epochs = 100, validation_split = 0.2, callbacks = [monitor_val_acc_2, modelCheckpoint_2])
accuracy_2 = model_1.evaluate(x_test, y_test)[1]
print('Accuracy:', accuracy_2)

Train on 27442 samples, validate on 6861 samples
Epoch 1/100
27442/27442 [==============================] - 3s 101us/step - loss: -254795.1153 - acc: 0.0023 - val_loss: -146233.3395 - val_acc: 0.0019
Epoch 2/100
27442/27442 [==============================] - 3s 100us/step - loss: -254795.1127 - acc: 0.0023 - val_loss: -146233.3395 - val_acc: 0.0019
Epoch 3/100
27442/27442 [==============================] - 3s 92us/step - loss: -254795.1160 - acc: 0.0023 - val_loss: -146233.3395 - val_acc: 0.0019
Epoch 4/100
27442/27442 [==============================] - 2s 88us/step - loss: -254795.1130 - acc: 0.0023 - val_loss: -146233.3395 - val_acc: 0.0019
3812/3812 [==============================] - 0s 33us/step
Accuracy: 0.0018363064008394543

In [71]:


norm_model = Sequential()
norm_model.add(Dense(128, input_shape = (2, ), activation = "relu"))
norm_model.add(BatchNormalization())
norm_model.add(Dense(64, activation = "relu"))
norm_model.add(BatchNormalization())
norm_model.add(Dense(32, activation = "relu"))
norm_model.add(BatchNormalization())
norm_model.add(Dense(1, activation = "softmax"))
norm_model.compile(loss = "binary_crossentropy", optimizer = "adam", metrics = ["accuracy"])
norm_model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_37 (Dense)             (None, 128)               384
_________________________________________________________________
batch_normalization_10 (Batc (None, 128)               512
_________________________________________________________________
dense_38 (Dense)             (None, 64)                8256
_________________________________________________________________
batch_normalization_11 (Batc (None, 64)                256
_________________________________________________________________
dense_39 (Dense)             (None, 32)                2080
_________________________________________________________________
batch_normalization_12 (Batc (None, 32)                128
_________________________________________________________________
dense_40 (Dense)             (None, 1)                 33
=================================================================
Total params: 11,649
Trainable params: 11,201
Non-trainable params: 448
_________________________________________________________________

In [72]:


monitor_val_acc_3 = EarlyStopping(monitor = "val_acc", patience = 3)
modelCheckpoint_3 = ModelCheckpoint("beer_norm_no_batch.hdf5", save_best_only = True)

history_3 = norm_model.fit(x_train, y_train, epochs = 100, validation_split = 0.2, callbacks = [monitor_val_acc_3, modelCheckpoint_3])
accuracy = norm_model.evaluate(x_test, y_test)[1]
print('Accuracy:', accuracy)

Train on 27442 samples, validate on 6861 samples
Epoch 1/100
27442/27442 [==============================] - 8s 296us/step - loss: -254795.1173 - acc: 0.0023 - val_loss: -146233.3395 - val_acc: 0.0019
Epoch 2/100
27442/27442 [==============================] - 4s 153us/step - loss: -254795.1117 - acc: 0.0023 - val_loss: -146233.3395 - val_acc: 0.0019
Epoch 3/100
27442/27442 [==============================] - 4s 156us/step - loss: -254795.1123 - acc: 0.0023 - val_loss: -146233.3395 - val_acc: 0.0019
Epoch 4/100
27442/27442 [==============================] - 5s 200us/step - loss: -254795.1198 - acc: 0.0023 - val_loss: -146233.3395 - val_acc: 0.0019
3812/3812 [==============================] - 0s 90us/step
Accuracy: 0.0018363064008394543